In [1]:
#Importamos la librería pandas que necesitamos para la lectura, conversión y limpieza de los datos.
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
pd.set_option('display.max_rows', None) # para poder visualizar todas las filas de los DataFrames

In [4]:
#Abrimos el csv y lo convertimos a un DataFrame.
df_HR = pd.read_csv('df_HR_limpio.csv', index_col= 0)
df_HR.head()

,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,DateBirth,RoleDepartament,RemoteWork
Age,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
51,No,NaN,684.0,NaN,6,3,NaN,"162,0",1,M,51.0,3,5,Research Director,3,NaN,19537.0,6462,7,Y,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,1972,NaN,Yes
52,No,NaN,699.0,NaN,1,4,Life Sciences,"259,0",3,M,65.0,2,5,Manager,3,NaN,19999.0,5678,0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,1971,NaN,1
42,No,travel_rarely,532.0,Research & Development,4,2,Technical Degree,"319,0",3,M,58.0,3,5,Manager,4,Married,19232.0,4933,1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,1981,Manager - Research & Development,1
47,No,travel_rarely,359.0,NaN,2,4,Medical,NaN,1,F,82.0,3,4,Research Director,3,Married,17169.0,26703,3,Y,NaN,19,"3,0",2,NaN,2,NaN,2,NaN,20,NaN,5,6,1976,NaN,False
46,No,NaN,1319.0,NaN,3,3,Technical Degree,NaN,1,F,45.0,4,4,Sales Executive,1,Divorced,NaN,7739,2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,1977,NaN,0

In [5]:
df_HR.columns

Index(['Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'DateBirth', 'RoleDepartament', 'RemoteWork'],
      dtype='object')

In [7]:
# Comprobamos los valores únicos de cada columna

lista_columnas = ['Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'DateBirth', 'RoleDepartament', 'RemoteWork']

for col in lista_columnas:
    print(col)
    print(df_HR[col].unique())

Attrition
['No' 'Yes']
BusinessTravel
[nan 'travel_rarely' 'travel_frequently' 'non-travel']
DailyRate
[ 684.  699.  532.  359. 1319.  117. 1435.  635. 1276.  840.  247. 1369.
  201. 1360.  692. 1398.  286. 1402.  819.  884. 1238.  515. 1223.  202.
  928.  607.  266.  429.  589.   nan 1180. 1282.  776.  665.  526. 1034.
 1403. 1499.  580.  859.  263. 1376.  885. 1003. 1321.  394. 1372. 1333.
  228.  737.  823.  667.  301.  573. 1329.  630. 1063. 1017. 1296.  939.
 1355. 1448.  200. 1202.  404.  208.  813.  465. 1189. 1001. 1394.  161.
  288.  682. 1354.  147.  119. 1413.  452.  334. 1132.  982.  480. 1099.
  672. 1379.  583. 1492. 1050.  469.  237. 1440. 1291. 1157. 1336. 1224.
  735. 1389.  638. 1240.  194. 1339.  111. 1469.  470. 1232. 1249.  798.
  549.  570.  541.  164. 1117.  619.  319.  956. 1245. 1397.  527.  213.
  882.  330.  406.  217.  481.  669. 1465.  685. 1062.  177. 1199.  648.
  412.  282.  770.  601.  855.  332. 1326.  748.  405.  790.  971. 1370.
  750.  880.  678. 1179.  350. 1266.  574.  189.  310.  722. 1219.  994.
  721.  853.  427.  852. 1334. 1093.  967.  989. 1195. 1045.  829.  663.
 1300. 1105.  906.  849. 1275. 1218.  422. 1274. 1076. 1207.  430.  933.
 1184.  586.  890.  379. 1425. 1188.  938. 1053.  248.  796.  174.  408.
  977.  536.  135. 1476.  587.  495.  523.  507. 1055. 1445.  218.  447.
 1029.  674.  538.  740. 1234.  170. 1130.  584.  918.  792.  611. 1383.
  867.  706.  728.  311.  556.  937. 1125.  444.  911.  585. 1392. 1005.
 1299.  655.  746.  632.  658. 1467. 1312.  249.  802.  689. 1395. 1436.
 1496. 1480.  313.  894.  290. 1084. 1002. 1242. 1052.  944.  771. 1416.
 1327.  488. 1385.  666. 1315.  442.  950.  691. 1018.  559.  318.  144.
 1171.  143. 1178. 1107.  645. 1485. 1116.  163.  561.  426.  509.  258.
  525.  238.  482.  397.  243.  806. 1442.  929.  827.  703.  294.  314.
  654.  501.  954. 1434.  657.  240.  791.  676.  436.  760.  661. 1085.
  154. 1283.  616.  498.  530.  805.  903. 1229.  566. 1441.  153. 1066.
  145. 1109.  124.  300. 1366.  857. 1204. 1082.  203. 1308.  718.  593.
 1384. 1361. 1146. 1316.  363. 1103.  920.  694. 1429.  531.  621.  604.
  325. 1030.  524.  943. 1009.  817.  930. 1147.  652.  337. 1136.  326.
  377. 1038. 1490. 1246.  224.  441.  898. 1313. 1015. 1387. 1302.  602.
  772.  809.  786.  921.  717.  979.  953.  244.  196.  303. 1092.  261.
 1422. 1137.  511. 1396. 1096. 1169. 1239.  157.  754. 1303.  697.  116.
  557.  582.  704.  613.  419.  477. 1211.  505.  269.  553. 1277.  302.
  975. 1318.  881.  466.  945.  433.  991. 1083.  136.  333. 1462. 1131.
 1023. 1065. 1115. 1479.  304. 1368.  828.  799.  142.  446.  254. 1410.
  883.  121. 1343.  490. 1400. 1332. 1200. 1102. 1328.  548. 1214.  120.
  841. 1033. 1452. 1268.  307.  797.  555. 1377.  210.  483.  575. 1311.
  759.  891.  317.  688.  195.  622.  646.  719. 1012. 1278. 1222. 1231.
  462.  231. 1089. 1262.  439.  528.  647. 1097.  942.  966.  168.  299.
  999. 1498. 1439. 1111. 1174.  172.  401.  866.  571. 1342.  995.  118.
  990.  241. 1470.  492. 1040. 1320.  146. 1153.  185. 1297. 1064. 1351.
  468. 1273. 1141. 1488.  653. 1225. 1217. 1127. 1427.  702.  926.  878.
  896. 1401.  675. 1070.  496.  390. 1220. 1124. 1046.  267.  443. 1287.
 1420.  562.  650.  141.  715.  376.  932.  471.  180. 1265. 1075. 1086.
  152.  974.  788.  192.  150. 1167.  206.  736.  322.  683. 1475.  560.
  115.  888.  671.  567.  148.  581.  371. 1181. 1253.  370. 1194.  572.
  355.  783.  155.  508.  642. 1382. 1037. 1120.  374.  287.  591.  670.
 1346.  103.  673.  705. 1459. 1443. 1142.  664.  432. 1353.  489.  807.
 1280.  957.  542.  216. 1150.  364. 1256.  440.  713.  140.  629.  328.
  472.  905. 1151.  644.  992. 1323.  818. 1431.  976.  832.  916. 1247.
  128. 1158.  996. 1449.  636.  889.  106.  723. 1482.  738. 1192. 1309.
  544.  641.  756.  895. 1261.  329. 1362. 1371.  821. 1381. 1473.  296.
 1349.  986.  413.  988. 1474.  232. 1236. 1112.  204.  913.  810.  693.
  316.  381.  775.  804. 1090.  346.  725.  182.  384. 1325. 1258. 1041.
  625. 1418. 1269.  395.  341.  500. 1454.  617. 1122. 1198.  188.  335.
  461. 1134.  138. 1206.  109.  277.  265.  342. 1186.  769. 1176. 1091.
  618.  970.  984.  793. 1182.  603.  874.  367.  199. 1457. 1421. 1450.
 1212. 1010.  131.  193.  640.  848. 1138.  256.  935.  458.  662.  499.
  949.  383. 1255. 1221.  981. 1495. 1193.  467.  271.  410. 1288. 1108.
  437.  457.  634.  546.  711.  448.  365.  763.  486.  392.  727.  741.
  552.  506. 1456.  160.  897.  600. 1054.  428.  343. 1216.  207.  280.
  414.  836.  592.  219. 1079. 1251. 1168. 1444. 1154.  234.  529. 1322.
  924.  134.  755.  253.  922. 1365.  306. 1271. 1404. 1391. 1464. 1330.
  773.  902.  107.  504. 1358.  824.  594.  734.  766.  431. 1213. 1373.
 1324. 1123.  391.  125. 1357.  626.  132.  871. 1031. 1145.  854. 1411.
  252.  833. 1210. 1463.  812. 1162.  845. 1144.  156.  464. 1305.  983.
  534. 1306. 1094.  558.  959.  782.  362.  268.  167. 1243.  720.  868.
 1252.  781. 1272.  129. 1069.  289.  955.  660.  415.  309.  130.  862.
 1098.  969.  373.  599.  968.  830. 1423.  516.  598.  104.  479.  474.
  264. 1059.  563. 1259.  369.  543.  964.  176.  181.  211.  590.  305.
  478. 1294. 1128.  726.  352. 1172.  605. 1337.  105.]
Department
[nan ' Research & Development ' ' Sales ' ' Human Resources ']
DistanceFromHome
[ 6  1  4  2  3 22 25  9  7 23 10 12 14 13 15  8 42 28 37  5 16 35 26 24
 29 17 21 18 30 27 20 31 39 11 19 33 34 46 36 45 47 32 41 49 48 38 43 40
 44]
Education
[3 4 2 1 5]
EducationField
[nan 'Life Sciences' 'Technical Degree' 'Medical' 'Other' 'Marketing'
 'Human Resources']
EmployeeNumber
['162,0' '259,0' '319,0' ... '2012,0' '2023,0' '2040,0']
EnvironmentSatisfaction
[ 1  3  4  2 42 37 35 25 27 31 39 21 15 14 33 19 12 13 28 47 36 29 24 46
 16 22 41 49 11 48 18 10 45 38 17 20 26 43]
Gender
['M' 'F']
HourlyRate
[ 51.  65.  58.  82.  45.  99.  91.  64.  55.  68.  49.  61.  79.  31.
  69.  48.  80.  74.  98.  59.  33.  56.  66.  57.  53.  87.  81.  84.
  32.  41.  92.  47.  nan  43.  86.  30.  42.  88.  96.  67.  62.  72.
  78.  89.  52.  50.  90.  37.  94.  76.  60.  46.  83. 100.  40.  97.
  54.  75.  39.  85.  63.  44.  93.  36.  35.  73.  71.  70.  38.  77.
  95.  34.]
JobInvolvement
[3 2 4 1]
JobLevel
[5 4 3 2 1]
JobRole
[' Research Director ' ' Manager ' ' Sales Executive '
 ' Manufacturing Director ' ' Research Scientist '
 ' Healthcare Representative ' ' Laboratory Technician '
 ' Sales Representative ' ' Human Resources ']
JobSatisfaction
[3 4 1 2]
MaritalStatus
[nan 'Married' 'Divorced' 'Single']
MonthlyIncome
[19537. 19999. 19232. 17169.    nan 17174. 16595. 19973. 13402. 13206.
 19545. 18041. 19246. 10748. 16752.  6201. 19845.  4001. 10447. 16064.
  3210. 10266. 10475.  6162.  4721.  4615. 16959. 10306.  5406.  5902.
 10855.  5914.  6646. 13973. 13320.  6687.  4735. 13872. 19045. 16015.
  9613. 11510.  4306. 17046.  5067.  3692. 19847.  2308.  5747. 10422.
  6347.  2348.  3072. 12490.  8020. 17068.  8943. 19272.  5577.  2691.
  7403.  8823.  3579. 17779. 18213. 13577. 19190. 17123. 19187. 10008.
  7988.  7083.  4723.  3407.  2929. 12031. 15427.  5126.  9619.  5010.
 19033. 10400.  2793.  5674. 19197.  8412.  3348.  5309.  7654. 12808.
  6586.  2519. 17099. 13120.  3131.  4444.  6674.  9852. 17861.  7446.
 13757. 16598.  4285. 10124.  9714.  9924. 11245.  3069.  9241.  6472.
  3055.  8321.  3143.  8578.  4197.  9888. 13341.  5677.  2909.  9526.
  6825.  4424.  5441.  6074.  6146.  6172.  4668.  5605.  4319.  3564.
  6261.  6804. 19436.  5828.  2455.  5055.  4682.  5257.  2119.  5974.
  3034. 13212.  8392.  4051.  4805.  2741.  5337.  9434.  5396. 11159.
  4960.  8793. 19189.  2216. 11713.  5304. 11103.  6632.  7587.  4335.
  5980.  4244.  5228.  2700.  2366.  2329.  4294.  6725. 10325.  4447.
 10845.  5472.  6385.  7525.  3660.  8740. 13499.  3491.  5220. 10252.
 19740.  6209.  7094.  4534.  8500.  4639.  5363.  4081.  3578. 17328.
 10793. 10851. 10466.  2362.  6439.  5769.  4385.  4066.  5206.  2655.
  2570.  4502.  4968.  5147.  2718.  3539.  5468.  5813.  9667.  5154.
  5675.  7314.  5098. 13570.  6712.  9991. 10248. 10938.  2593. 11878.
  8095. 16856.  4537. 17924.  4014. 12742.  3376. 10482.  4249.  6549.
 14411. 19586.  8237.  3211. 16704.  4774.  4568.  5993.  6499.  3452.
  6397.  2725.  3622.  6180.  6274.  4381.  2559.  5488.  2514.  3196.
  3420.  4087.  5368. 12936.  4221.  4963.  4200.  5006.  7639.  6502.
 13525.  6349.  6380.  3102.  4556.  4230.  4859.  6322. 10761.  2973.
  5204. 17399. 16885.  4323.  5155.  2936. 18789.  4883.  2029.  2996.
  9278.  4162.  8853.  4876.  2141.  7756.  3936.  6842.  3989.  4930.
  3702.  2705.  4448.  2379.  5487.  2810.  8938.  9936.  5454. 18740.
  5473. 13503. 13549. 18172.  2774.  9439.  5265.  3815.  2389.  4000.
 17584.  5661.  4869.  4649. 10496.  2768.  3408.  3755.  2187.  4258.
  5326.  5485.  2782. 17639.  6062.  6288.  3424.  4194.  2532.  5666.
 13726.  4107.  3597.  4115.  6272.  2517.  3904.  9204.  4373.  2064.
  2430.  4877.  3760.  2013.  2974.  2766.  3377.  4213.  6513.  4284.
  2226.  5561.  2144.  5373.  2897.  5321.  5410.  4850.  2001.  4404.
  3944.  2960. 18947.  6465.  2683.  2014.  3441. 13664.  5021. 18844.
  4739. 10650.  4317.  2024.  3058.  3929.  4425.  2328.  2657.  5940.
  2622.  3212.  2911.  6931.  2176.  3230. 18665.  2789.  6410.  4941.
  3983.  2904.  2696.  2174.  6755. 10965.  2543. 19406.  6538.  2258.
  2218.  2654. 11935.  2546.  3894.  4262. 10527.  2400.  3681.  3447.
 19513.  2659.  8847.  2045.  4851.  8120.  4577.  5405.  3708. 13770.
  2297.  2450.  4342.  2572.  6500.  3149.  5324.  4382.  2553.  5933.
  4403. 10934.  2022.  4256.  3580.  2899.  5562.  2377.  2404.  2799.
  2811.  4377.  4240.  4227.  3917.  4969.  2042.  2821.  9957.  2207.
  2070.  2791.  8224.  2610.  5731.  2539.  2376. 19081.  2743.  4538.
  3867.  2080.  2096.  4627.  2302.  5071. 10596.  5467.  2394.  3629.
  9362.  3229. 16422.  5647.  4400.  2066.  5486.  3162.  6651.  4898.
  3180. 11244.  4069.  6392.  4855.  3312.  3117. 15202.  2580.  2166.
  4374.  5505.  2587. 15972.  2305.  3433.  3477.  3907.  3445.  2760.
  6294. 13116.  3591.  2105.  3902.  2662.  2062.  5507.  8103.  3978.
  5399. 10448.  4440.  2660.  3375.  2269.  4787.  2809. 10854.  2571.
  6142.  2496.  3419.  2501.  2566.  3920. 13964.  6540.  2244. 16184.
  4233. 14814. 17159.  2318.  3617.  2684. 19237.  4422.  2552.  2678.
  5171. 11916.  9380.  5878.  2468.  4127.  2148.  3886.  6667.  2090.
  2086.  1951.  3022.  9724.  3388.  3038.  2322.  2926.  4505.  2835.
  6553.  6673. 13591.  2177. 19517. 19202. 10048.  2723.  6644.  3161.
  1420.  1200.  5238.  9985. 15992.  2370.  6781.  6653.  2851.  5258.
  2476.  2285.  3448.  4558.  1702.  2564.  5070.  3780.  9824.  1878.
  2340.  2127.  2033.  9602. 16627.  2083.  1009.  7861.  2642.  5121.
  2694.  5094.  2274.  2314.  2380.  2008. 10552.  2259.  2413.  2121.
  2479. 13194.  4163.  2600. 18303.  4777.  1052.  2461.  2596.  4728.
  7351.  4766.  2827.  2853.  2290.  2107.  2210. 13191. 18265.  1118.
  2372.  2838. 18061.  1611.  4768.  1274.  2561.  1563.  6388.  8376.
  4841.  2074.  2972.  6815.  2690. 17567.  1569.  4187.  3306.  1393.
 10883.  2862.  6735.  9756.  5294.  2437.  4071.  2956.  4648.  2804.
  2439.  2856.  2933.  1091.  5151.  2863.  2858.  1129. 19431.]
MonthlyRate
[ 6462  5678  4933 ... 15302 26956 16642]
NumCompaniesWorked
[7 0 1 3 2 4 8 9 5 6]
Over18
['Y' nan]
OverTime
['No' nan 'Yes']
PercentSalaryHike
[13 14 11 19 12 25 16 17 22 23 20 15 21 24 18]
PerformanceRating
['3,0' '4,0' nan]
RelationshipSatisfaction
[3 1 4 2]
StandardHours
[nan '80,0']
StockOptionLevel
[0 1 2 3]
TotalWorkingYears
[nan '34,0' '22,0' '28,0' '20,0' '21,0' '33,0' '40,0' '18,0' '25,0' '15,0'
 '17,0' '26,0' '16,0' '24,0' '14,0' '23,0' '27,0' '19,0' '11,0' '38,0'
 '37,0' '13,0' '12,0' '29,0' '10,0' '36,0' '35,0' '9,0' '31,0' '32,0'
 '8,0' '7,0' '30,0' '6,0' '5,0' '4,0' '3,0' '2,0' '1,0' '0,0']
TrainingTimesLastYear
[5 3 2 0 1 4 6]
WorkLifeBalance
['3,0' nan '2,0' '4,0' '1,0']
YearsAtCompany
[20 33 22 19 21 18 24 31 26 16 23 15 17 32 14 13 25 12 11 37 40 36 27 29
 10  9 30  8  7 34  6  5  4  2  3  1  0]
YearsInCurrentRole
[nan '13,0' '12,0' '11,0' '7,0' '6,0' '4,0' '3,0' '2,0' '1,0' '0,0']
YearsSinceLastPromotion
[15 11  5  2  4  7  0  1 13 14  8 12  3  6 10  9]
YearsWithCurrManager
[15  9  6  8  7 11 10 12  4  0  5 17  2 14  1 13  3 16]
DateBirth
[1972 1971 1981 1976 1977 1975 1964 1982 1967 1985 1968 1983 1965 1988
 1978 1990 1987 1989 1970 1980 1963 1991 1986 1974 1984 1973 1979 1993
 1994 1992 1969 1966 1996 1995 1997 1998 1999 2000 2001 2002 2003 2004
 2005]
RoleDepartament
[nan ' Manager  -  Research & Development '
 ' Healthcare Representative  -  Research & Development '
 ' Sales Executive  -  Sales '
 ' Laboratory Technician  -  Research & Development '
 ' Manufacturing Director  -  Research & Development '
 ' Research Scientist  -  Research & Development '
 ' Research Director  -  Research & Development '
 ' Human Resources  -  Human Resources ' ' Manager  -  Sales '
 ' Sales Representative  -  Sales ' ' Manager  -  Human Resources ']
RemoteWork
['Yes' '1' 'False' '0' 'True']

In [8]:
# Comprobamos el conteo de frecuencia de la columna EmployeeNumber. Varios números aparecen 2 veces repetidos.
# 
df_HR['EmployeeNumber'].value_counts()

482,0     2
530,0     2
507,0     2
517,0     2
522,0     2
523,0     2
525,0     2
526,0     2
544,0     2
501,0     2
725,0     2
724,0     2
722,0     2
721,0     2
717,0     2
710,0     2
502,0     2
495,0     2
747,0     2
440,0     2
734,0     2
733,0     2
728,0     2
423,0     2
424,0     2
433,0     2
447,0     2
1140,0    2
455,0     2
460,0     2
465,0     2
470,0     2
475,0     2
478,0     2
682,0     2
663,0     2
653,0     2
1069,0    2
389,0     2
388,0     2
381,0     2
376,0     2
1044,0    2
1053,0    2
1195,0    2
621,0     2
1185,0    2
1162,0    2
1161,0    2
1160,0    2
1157,0    2
1131,0    2
401,0     2
416,0     2
430,0     2
438,0     2
446,0     2
448,0     2
454,0     2
458,0     2
476,0     2
483,0     2
488,0     2
500,0     2
534,0     2
586,0     2
595,0     2
608,0     2
616,0     2
742,0     2
1135,0    2
762,0     2
1849,0    2
972,0     2
990,0     2
1927,0    2
1911,0    2
1898,0    2
1869,0    2
1821,0    2
966,0     2
1816,0    2
1804,0    2
1797,0    2
783,0     2
1947,0    2
1954,0    2
967,0     2
1778,0    2
956,0     2
569,0     2
374,0     2
927,0     2
913,0     2
842,0     2
823,0     2
809,0     2
1541,0    2
803,0     2
524,0     2
941,0     2
793,0     2
789,0     2
307,0     2
1396,0    1
1392,0    1
1403,0    1
1380,0    1
1371,0    1
1361,0    1
1358,0    1
1405,0    1
1411,0    1
1412,0    1
1415,0    1
1389,0    1
1333,0    1
1436,0    1
1674,0    1
1721,0    1
1702,0    1
1694,0    1
1683,0    1
1682,0    1
1217,0    1
1234,0    1
1286,0    1
1670,0    1
1331,0    1
1662,0    1
1291,0    1
1301,0    1
1303,0    1
1308,0    1
1311,0    1
1317,0    1
1329,0    1
1428,0    1
1467,0    1
1439,0    1
1441,0    1
1587,0    1
1583,0    1
1580,0    1
1576,0    1
1573,0    1
1568,0    1
1560,0    1
1552,0    1
1537,0    1
1516,0    1
1513,0    1
1509,0    1
1507,0    1
1486,0    1
1475,0    1
1592,0    1
1594,0    1
1597,0    1
1655,0    1
1448,0    1
1464,0    1
1466,0    1
1471,0    1
1473,0    1
1657,0    1
1651,0    1
1607,0    1
1648,0    1
1647,0    1
1645,0    1
1644,0    1
1641,0    1
1623,0    1
162,0     1
1022,0    1
1114,0    1
246,0     1
288,0     1
287,0     1
269,0     1
250,0     1
249,0     1
247,0     1
245,0     1
178,0     1
241,0     1
233,0     1
221,0     1
218,0     1
197,0     1
193,0     1
297,0     1
303,0     1
305,0     1
316,0     1
332,0     1
337,0     1
338,0     1
341,0     1
347,0     1
349,0     1
350,0     1
362,0     1
379,0     1
380,0     1
393,0     1
394,0     1
396,0     1
179,0     1
175,0     1
555,0     1
7,0       1
26,0      1
24,0      1
21,0      1
19,0      1
18,0      1
16,0      1
2068,0    1
171,0     1
2053,0    1
2052,0    1
2046,0    1
2044,0    1
2018,0    1
1999,0    1
31,0      1
33,0      1
38,0      1
40,0      1
47,0      1
49,0      1
65,0      1
72,0      1
88,0      1
102,0     1
103,0     1
110,0     1
116,0     1
128,0     1
132,0     1
133,0     1
143,0     1
403,0     1
564,0     1
1108,0    1
896,0     1
939,0     1
930,0     1
925,0     1
922,0     1
916,0     1
902,0     1
893,0     1
847,0     1
888,0     1
885,0     1
881,0     1
874,0     1
872,0     1
859,0     1
975,0     1
991,0     1
995,0     1
1001,0    1
1010,0    1
1017,0    1
1733,0    1
1027,0    1
1028,0    1
1037,0    1
1077,0    1
1084,0    1
1094,0    1
1096,0    1
1099,0    1
1102,0    1
1103,0    1
852,0     1
838,0     1
580,0     1
652,0     1
675,0     1
671,0     1
666,0     1
665,0     1
664,0     1
659,0     1
632,0     1
819,0     1
631,0     1
624,0     1
611,0     1
593,0     1
591,0     1
585,0     1
686,0     1
699,0     1
705,0     1
707,0     1
712,0     1
732,0     1
738,0     1
744,0     1
746,0     1
752,0     1
754,0     1
769,0     1
792,0     1
797,0     1
800,0     1
806,0     1
813,0     1
1722,0    1
1996,0    1
1735,0    1
1260,0    1
945,0     1
951,0     1
952,0     1
954,0     1
959,0     1
986,0     1
994,0     1
1003,0    1
1012,0    1
1029,0    1
1033,0    1
1052,0    1
1056,0    1
1076,0    1
1079,0    1
1081,0    1
1105,0    1
1111,0    1
1113,0    1
1115,0    1
1125,0    1
1156,0    1
1158,0    1
1172,0    1
1190,0    1
1206,0    1
1210,0    1
1242,0    1
1256,0    1
940,0     1
934,0     1
923,0     1
704,0     1
566,0     1
568,0     1
614,0     1
615,0     1
622,0     1
643,0     1
648,0     1
656,0     1
657,0     1
661,0     1
662,0     1
690,0     1
701,0     1
715,0     1
918,0     1
743,0     1
749,0     1
773,0     1
775,0     1
811,0     1
812,0     1
816,0     1
832,0     1
833,0     1
834,0     1
897,0     1
904,0     1
911,0     1
1258,0    1
1263,0    1
1746,0    1
1269,0    1
1744,0    1
1755,0    1
1758,0    1
1761,0    1
1763,0    1
1766,0    1
1783,0    1
1839,0    1
1842,0    1
1847,0    1
1853,0    1
1860,0    1
1865,0    1
1875,0    1
1876,0    1
1893,0    1
1903,0    1
1928,0    1
1933,0    1
1935,0    1
1936,0    1
1938,0    1
1943,0    1
1944,0    1
1961,0    1
1966,0    1
1974,0    1
2012,0    1
2023,0    1
1731,0    1
1724,0    1
1714,0    1
1504,0    1
1270,0    1
1273,0    1
1306,0    1
1364,0    1
1368,0    1
1379,0    1
1427,0    1
1433,0    1
1434,0    1
1458,0    1
1481,0    1
1482,0    1
1494,0    1
1515,0    1
1697,0    1
1525,0    1
1542,0    1
1558,0    1
1564,0    1
1577,0    1
1581,0    1
1591,0    1
1601,0    1
1602,0    1
1624,0    1
1669,0    1
1673,0    1
1678,0    1
556,0     1
518,0     1
514,0     1
508,0     1
2048,0    1
2055,0    1
2060,0    1
2061,0    1
2064,0    1
39,0      1
51,0      1
95,0      1
169,0     1
224,0     1
242,0     1
286,0     1
340,0     1
431,0     1
496,0     1
511,0     1
612,0     1
650,0     1
684,0     1
730,0     1
757,0     1
869,0     1
875,0     1
964,0     1
970,0     1
1006,0    1
1055,0    1
1061,0    1
1107,0    1
2038,0    1
2027,0    1
2010,0    1
1873,0    1
1751,0    1
1753,0    1
1787,0    1
1801,0    1
1813,0    1
1814,0    1
1833,0    1
1834,0    1
1835,0    1
1837,0    1
1844,0    1
1856,0    1
1858,0    1
1883,0    1
2007,0    1
1886,0    1
1905,0    1
1907,0    1
1908,0    1
1922,0    1
1929,0    1
1948,0    1
1972,0    1
1980,0    1
1982,0    1
1992,0    1
1997,0    1
2003,0    1
1180,0    1
1193,0    1
1226,0    1
342,0     1
144,0     1
155,0     1
167,0     1
200,0     1
201,0     1
211,0     1
214,0     1
243,0     1
271,0     1
282,0     1
309,0     1
323,0     1
334,0     1
364,0     1
137,0     1
367,0     1
392,0     1
397,0     1
407,0     1
445,0     1
468,0     1
471,0     1
473,0     1
477,0     1
479,0     1
485,0     1
487,0     1
494,0     1
139,0     1
113,0     1
1254,0    1
1890,0    1
1321,0    1
1465,0    1
1479,0    1
1551,0    1
1555,0    1
1604,0    1
1757,0    1
1760,0    1
1789,0    1
1807,0    1
1812,0    1
1818,0    1
1830,0    1
1939,0    1
106,0     1
1994,0    1
4,0       1
10,0      1
30,0      1
41,0      1
42,0      1
53,0      1
54,0      1
55,0      1
64,0      1
70,0      1
84,0      1
97,0      1
1998,0    1
1349,0    1
1981,0    1
1790,0    1
1423,0    1
1459,0    1
1472,0    1
1485,0    1
1543,0    1
1547,0    1
1553,0    1
1562,0    1
1582,0    1
1606,0    1
1658,0    1
1665,0    1
1737,0    1
1823,0    1
1346,0    1
1857,0    1
1864,0    1
1881,0    1
1888,0    1
1950,0    1
1962,0    1
1975,0    1
1986,0    1
2000,0    1
2,0       1
5,0       1
35,0      1
76,0      1
1356,0    1
1334,0    1
1969,0    1
772,0     1
291,0     1
292,0     1
306,0     1
335,0     1
420,0     1
421,0     1
441,0     1
531,0     1
549,0     1
567,0     1
581,0     1
702,0     1
716,0     1
836,0     1
1324,0    1
840,0     1
844,0     1
867,0     1
889,0     1
924,0     1
976,0     1
992,0     1
1002,0    1
1073,0    1
1138,0    1
1192,0    1
1196,0    1
1315,0    1
98,0      1
120,0     1
147,0     1
1283,0    1
1119,0    1
1126,0    1
1128,0    1
1177,0    1
1182,0    1
1201,0    1
1218,0    1
1220,0    1
1224,0    1
1235,0    1
1237,0    1
1255,0    1
1264,0    1
1293,0    1
154,0     1
1295,0    1
1322,0    1
1344,0    1
1355,0    1
1362,0    1
1369,0    1
1377,0    1
1402,0    1
1408,0    1
1417,0    1
1421,0    1
1422,0    1
1424,0    1
1106,0    1
1101,0    1
1100,0    1
1097,0    1
159,0     1
160,0     1
163,0     1
176,0     1
177,0     1
195,0     1
202,0     1
205,0     1
252,0     1
258,0     1
260,0     1
267,0     1
275,0     1
293,0     1
302,0     1
314,0     1
329,0     1
361,0     1
363,0     1
1013,0    1
1015,0    1
1018,0    1
1034,0    1
1046,0    1
1050,0    1
1074,0    1
1082,0    1
264,0     1
253,0     1
227,0     1
1225,0    1
1527,0    1
1866,0    1
2026,0    1
107,0     1
170,0     1
215,0     1
304,0     1
529,0     1
691,0     1
692,0     1
1005,0    1
1024,0    1
1039,0    1
1375,0    1
1696,0    1
1661,0    1
1668,0    1
1698,0    1
1937,0    1
2017,0    1
117,0     1
131,0     1
153,0     1
899,0     1
1014,0    1
1117,0    1
1238,0    1
1277,0    1
436,0     1
391,0     1
158,0     1
145,0     1
319,0     1
1900,0    1
81,0      1
387,0     1
999,0     1
1035,0    1
58,0      1
558,0     1
825,0     1
1712,0    1
73,0      1
820,0     1
1294,0    1
1774,0    1
1815,0    1
1993,0    1
32,0      1
100,0     1
244,0     1
327,0     1
373,0     1
729,0     1
830,0     1
981,0     1
1042,0    1
1080,0    1
1995,0    1
1666,0    1
1805,0    1
207,0     1
1596,0    1
1278,0    1
1288,0    1
1307,0    1
1336,0    1
1352,0    1
1360,0    1
1419,0    1
1478,0    1
1480,0    1
1489,0    1
1520,0    1
1535,0    1
1586,0    1
1667,0    1
1932,0    1
1701,0    1
1706,0    1
1971,0    1
1976,0    1
1985,0    1
2032,0    1
2056,0    1
57,0      1
78,0      1
104,0     1
118,0     1
121,0     1
125,0     1
1267,0    1
1252,0    1
1184,0    1
1167,0    1
2016,0    1
20,0      1
184,0     1
206,0     1
228,0     1
239,0     1
256,0     1
339,0     1
406,0     1
429,0     1
444,0     1
452,0     1
456,0     1
481,0     1
513,0     1
597,0     1
600,0     1
630,0     1
638,0     1
683,0     1
780,0     1
817,0     1
901,0     1
944,0     1
984,0     1
1088,0    1
1124,0    1
1457,0    1
1460,0    1
1484,0    1
230,0     1
27,0      1
46,0      1
52,0      1
68,0      1
79,0      1
80,0      1
91,0      1
119,0     1
126,0     1
148,0     1
150,0     1
198,0     1
216,0     1
270,0     1
579,0     1
277,0     1
299,0     1
315,0     1
330,0     1
369,0     1
386,0     1
390,0     1
412,0     1
422,0     1
434,0     1
450,0     1
469,0     1
491,0     1
1949,0    1
1941,0    1
1924,0    1
1909,0    1
1280,0    1
1309,0    1
1374,0    1
1390,0    1
1395,0    1
1397,0    1
1409,0    1
1425,0    1
1435,0    1
1445,0    1
1469,0    1
1503,0    1
1534,0    1
1546,0    1
1548,0    1
1598,0    1
1599,0    1
1609,0    1
1638,0    1
1640,0    1
1664,0    1
1684,0    1
1704,0    1
1736,0    1
1782,0    1
1826,0    1
1850,0    1
554,0     1
592,0     1
1202,0    1
1646,0    1
1407,0    1
1420,0    1
1431,0    1
1446,0    1
1477,0    1
1487,0    1
1499,0    1
1533,0    1
1545,0    1
1554,0    1
1563,0    1
1622,0    1
1631,0    1
1659,0    1
599,0     1
1689,0    1
1700,0    1
1739,0    1
1768,0    1
1772,0    1
1792,0    1
1800,0    1
1822,0    1
1854,0    1
1882,0    1
1885,0    1
1931,0    1
1945,0    1
1401,0    1
1387,0    1
259,0     1
1338,0    1
641,0     1
655,0     1
667,0     1
758,0     1
760,0     1
791,0     1
796,0     1
799,0     1
815,0     1
827,0     1
865,0     1
894,0     1
983,0     1
996,0     1
1011,0    1
1019,0    1
1032,0    1
1045,0    1
1049,0    1
1068,0    1
1136,0    1
1179,0    1
1188,0    1
1211,0    1
1228,0    1
1231,0    1
1259,0    1
1245,0    1
1200,0    1
1497,0    1
942,0     1
2062,0    1
28,0      1
62,0      1
199,0     1
343,0     1
351,0     1
428,0     1
464,0     1
731,0     1
764,0     1
851,0     1
903,0     1
905,0     1
1026,0    1
15,0      1
1085,0    1
1109,0    1
1118,0    1
1152,0    1
1350,0    1
1514,0    1
1523,0    1
1539,0    1
1588,0    1
1617,0    1
1719,0    1
1870,0    1
2031,0    1
2035,0    1
2034,0    1
2014,0    1
2009,0    1
1522,0    1
1544,0    1
1572,0    1
1608,0    1
1611,0    1
1612,0    1
1615,0    1
1619,0    1
1635,0    1
1642,0    1
1653,0    1
1691,0    1
1693,0    1
1703,0    1
1727,0    1
1728,0    1
1745,0    1
1754,0    1
1756,0    1
1764,0    1
1934,0    1
1951,0    1
1952,0    1
1965,0    1
1967,0    1
1979,0    1
2008,0    1
2065,0    1
60,0      1
1171,0    1
548,0     1
283,0     1
308,0     1
325,0     1
355,0     1
378,0     1
449,0     1
466,0     1
486,0     1
492,0     1
505,0     1
510,0     1
527,0     1
547,0     1
577,0     1
85,0      1
679,0     1
785,0     1
861,0     1
864,0     1
878,0     1
895,0     1
900,0     1
936,0     1
997,0     1
1048,0    1
1071,0    1
1116,0    1
1132,0    1
262,0     1
240,0     1
231,0     1
226,0     1
346,0     1
384,0     1
498,0     1
551,0     1
604,0     1
626,0     1
644,0     1
649,0     1
714,0     1
781,0     1
804,0     1
856,0     1
998,0     1
1120,0    1
1143,0    1
1251,0    1
1438,0    1
1574,0    1
1671,0    1
94,0      1
112,0     1
129,0     1
142,0     1
161,0     1
164,0     1
190,0     1
194,0     1
2040,0    1
Name: EmployeeNumber, dtype: int64