In [1]:
#Importamos la librería pandas que necesitamos para la lectura, conversión y limpieza de los datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np
import re 

#Importamos librerías necesarias para la visualización
# -----------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
pd.set_option('display.max_rows', None) # para poder visualizar todas las filas de los DataFrames

In [2]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode

In [3]:
df_HR = pd.read_csv('df_HR_limpio.csv')
df_HR.head()

,Age,Attrition,BusinessTravel,DailyRate,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,DateBirth,RemoteWork
0,51,No,Unknown,684.0,6,3,Unknown,"162,0",1,M,51.0,3,5,Research Director,3,Unknown,19537.0,6462,7,No,13,"3,0",3,0,Unknown,5,3.000000,20,15,15,1972,yes
1,52,No,Unknown,699.0,1,4,Life Sciences,"259,0",3,M,65.0,2,5,Manager,3,Unknown,19999.0,5678,0,Unknown,14,"3,0",1,1,"34,0",5,3.000000,33,11,9,1971,yes
2,42,No,travel_rarely,532.0,4,2,Technical Degree,"319,0",3,M,58.0,3,5,Manager,4,Married,19232.0,4933,1,No,11,"3,0",4,0,"22,0",3,2.766568,22,11,15,1981,yes
3,47,No,travel_rarely,359.0,2,4,Medical,Unknown,1,F,82.0,3,4,Research Director,3,Married,17169.0,26703,3,Unknown,19,"3,0",2,2,Unknown,2,2.766568,20,5,6,1976,no
4,48,No,Unknown,117.0,22,3,Medical,"1900,0",4,F,58.0,3,4,Manager,4,Unknown,17174.0,2437,3,No,11,"3,0",2,1,Unknown,3,3.000000,22,4,7,1975,yes

In [4]:
df_HR.shape

(1080, 32)

In [5]:
df_empleados = pd.read_csv('Employees.csv')
df_empleados.shape

(1080, 9)

df_employees a lista de tuplas

In [6]:
lista_de_tuplas = [tuple(x) for x in df_empleados.to_records(index=False)]

In [11]:
lista_de_tuplas

[(51, 'No', 'Unknown', 6, 3, 'Unknown', 'M', 'Unknown', 1972),
 (52, 'No', 'Unknown', 1, 4, 'Life Sciences', 'M', 'Unknown', 1971),
 (42, 'No', 'travel_rarely', 4, 2, 'Technical Degree', 'M', 'Married', 1981),
 (47, 'No', 'travel_rarely', 2, 4, 'Medical', 'F', 'Married', 1976),
 (48, 'No', 'Unknown', 22, 3, 'Medical', 'F', 'Unknown', 1975),
 (59, 'No', 'Unknown', 25, 3, 'Life Sciences', 'F', 'Unknown', 1964),
 (42, 'No', 'travel_rarely', 1, 1, 'Unknown', 'M', 'Married', 1981),
 (41, 'No', 'travel_frequently', 9, 3, 'Unknown', 'M', 'Unknown', 1982),
 (41, 'No', 'non-travel', 7, 1, 'Unknown', 'F', 'Unknown', 1982),
 (41, 'Yes', 'travel_rarely', 12, 3, 'Unknown', 'F', 'Married', 1982),
 (40, 'No', 'travel_rarely', 2, 4, 'Unknown', 'F', 'Unknown', 1983),
 (58, 'Yes', 'travel_rarely', 2, 4, 'Unknown', 'M', 'Single', 1965),
 (45, 'No', 'non-travel', 1, 1, 'Unknown', 'M', 'Unknown', 1978),
 (33, 'No', 'Unknown', 1, 2, 'Life Sciences', 'F', 'Single', 1990),
 (47, 'No', 'Unknown', 2, 2, 'Other', 'F', 'Married', 1976),
 (36, 'No', 'Unknown', 2, 4, 'Life Sciences', 'F', 'Single', 1987),
 (34, 'No', 'non-travel', 10, 3, 'Life Sciences', 'M', 'Unknown', 1989),
 (41, 'No', 'Unknown', 37, 1, 'Unknown', 'F', 'Divorced', 1982),
 (47, 'No', 'Unknown', 25, 3, 'Medical', 'M', 'Unknown', 1976),
 (53, 'No', 'travel_rarely', 5, 3, 'Unknown', 'F', 'Unknown', 1970),
 (35, 'No', 'Unknown', 1, 4, 'Marketing', 'M', 'Single', 1988),
 (46, 'No', 'travel_rarely', 1, 2, 'Unknown', 'F', 'Divorced', 1977),
 (43, 'No', 'Unknown', 16, 3, 'Unknown', 'F', 'Married', 1980),
 (36, 'No', 'Unknown', 6, 3, 'Life Sciences', 'M', 'Married', 1987),
 (40, 'No', 'travel_frequently', 5, 4, 'Unknown', 'M', 'Married', 1983),
 (32, 'No', 'travel_rarely', 4, 3, 'Unknown', 'F', 'Married', 1991),
 (53, 'No', 'Unknown', 2, 2, 'Medical', 'M', 'Divorced', 1970),
 (36, 'Yes', 'travel_rarely', 16, 4, 'Unknown', 'F', 'Single', 1987),
 (46, 'No', 'Unknown', 8, 4, 'Life Sciences', 'F', 'Divorced', 1977),
 (38, 'No', 'travel_rarely', 1, 4, 'Unknown', 'M', 'Married', 1985),
 (51, 'No', 'Unknown', 1, 4, 'Unknown', 'F', 'Single', 1972),
 (43, 'No', 'Unknown', 26, 2, 'Unknown', 'M', 'Married', 1980),
 (37, 'No', 'Unknown', 1, 3, 'Life Sciences', 'F', 'Single', 1986),
 (32, 'No', 'travel_rarely', 8, 2, 'Technical Degree', 'F', 'Married', 1991),
 (46, 'No', 'Unknown', 3, 3, 'Life Sciences', 'F', 'Unknown', 1977),
 (43, 'No', 'Unknown', 6, 3, 'Medical', 'F', 'Married', 1980),
 (56, 'No', 'non-travel', 1, 4, 'Life Sciences', 'M', 'Divorced', 1967),
 (38, 'No', 'Unknown', 6, 3, 'Medical', 'F', 'Unknown', 1985),
 (49, 'No', 'Unknown', 26, 4, 'Medical', 'F', 'Unknown', 1974),
 (40, 'No', 'Unknown', 4, 4, 'Unknown', 'M', 'Married', 1983),
 (36, 'No', 'Unknown', 5, 2, 'Unknown', 'M', 'Single', 1987),
 (37, 'No', 'Unknown', 25, 5, 'Unknown', 'F', 'Married', 1986),
 (35, 'No', 'Unknown', 6, 4, 'Unknown', 'M', 'Unknown', 1988),
 (33, 'No', 'travel_frequently', 6, 3, 'Life Sciences', 'M', 'Divorced', 1990),
 (50, 'No', 'travel_rarely', 24, 3, 'Unknown', 'M', 'Married', 1973),
 (48, 'No', 'travel_rarely', 4, 4, 'Unknown', 'M', 'Single', 1975),
 (44, 'No', 'travel_rarely', 28, 3, 'Unknown', 'F', 'Married', 1979),
 (44, 'No', 'travel_rarely', 29, 4, 'Unknown', 'M', 'Single', 1979),
 (40, 'No', 'Unknown', 25, 1, 'Unknown', 'F', 'Unknown', 1983),
 (49, 'No', 'Unknown', 6, 1, 'Life Sciences', 'F', 'Unknown', 1974),
 (38, 'No', 'travel_frequently', 1, 3, 'Life Sciences', 'M', 'Unknown', 1985),
 (33, 'No', 'Unknown', 21, 3, 'Unknown', 'M', 'Unknown', 1990),
 (38, 'No', 'Unknown', 8, 3, 'Unknown', 'F', 'Divorced', 1985),
 (37, 'No', 'travel_rarely', 10, 3, 'Life Sciences', 'F', 'Unknown', 1986),
 (30, 'No', 'Unknown', 2, 3, 'Unknown', 'M', 'Married', 1993),
 (58, 'No', 'travel_rarely', 18, 4, 'Unknown', 'M', 'Single', 1965),
 (34, 'No', 'travel_rarely', 5, 3, 'Unknown', 'F', 'Single', 1989),
 (38, 'No', 'Unknown', 3, 3, 'Life Sciences', 'M', 'Divorced', 1985),
 (55, 'No', 'travel_rarely', 1, 3, 'Medical', 'M', 'Single', 1968),
 (31, 'No', 'Unknown', 30, 2, 'Unknown', 'F', 'Married', 1992),
 (50, 'No', 'travel_rarely', 27, 4, 'Life Sciences', 'M', 'Married', 1973),
 (35, 'No', 'Unknown', 25, 3, 'Technical Degree', 'M', 'Married', 1988),
 (35, 'No', 'Unknown', 25, 4, 'Unknown', 'F', 'Divorced', 1988),
 (45, 'No', 'Unknown', 9, 4, 'Life Sciences', 'F', 'Married', 1978),
 (33, 'No', 'Unknown', 9, 3, 'Medical', 'M', 'Married', 1990),
 (45, 'Yes', 'Unknown', 13, 3, 'Marketing', 'F', 'Unknown', 1978),
 (34, 'No', 'travel_rarely', 7, 2, 'Technical Degree', 'M', 'Unknown', 1989),
 (43, 'No', 'travel_rarely', 15, 2, 'Unknown', 'M', 'Unknown', 1980),
 (34, 'No', 'Unknown', 5, 2, 'Medical', 'M', 'Unknown', 1989),
 (38, 'No', 'Unknown', 2, 3, 'Unknown', 'M', 'Divorced', 1985),
 (34, 'No', 'Unknown', 22, 4, 'Other', 'M', 'Married', 1989),
 (32, 'No', 'travel_rarely', 31, 4, 'Unknown', 'F', 'Unknown', 1991),
 (29, 'No', 'travel_rarely', 21, 4, 'Life Sciences', 'F', 'Divorced', 1994),
 (30, 'No', 'Unknown', 9, 3, 'Unknown', 'M', 'Married', 1993),
 (45, 'No', 'Unknown', 9, 3, 'Life Sciences', 'M', 'Unknown', 1978),
 (30, 'No', 'travel_rarely', 5, 3, 'Unknown', 'F', 'Unknown', 1993),
 (30, 'No', 'Unknown', 9, 3, 'Unknown', 'M', 'Unknown', 1993),
 (34, 'No', 'travel_frequently', 29, 1, 'Unknown', 'M', 'Married', 1989),
 (34, 'No', 'Unknown', 39, 4, 'Life Sciences', 'M', 'Unknown', 1989),
 (35, 'No', 'travel_rarely', 16, 3, 'Unknown', 'M', 'Married', 1988),
 (39, 'No', 'Unknown', 10, 1, 'Unknown', 'M', 'Married', 1984),
 (39, 'No', 'Unknown', 7, 2, 'Unknown', 'M', 'Married', 1984),
 (45, 'No', 'travel_rarely', 8, 4, 'Unknown', 'M', 'Unknown', 1978),
 (30, 'No', 'travel_rarely', 5, 3, 'Marketing', 'F', 'Unknown', 1993),
 (36, 'No', 'Unknown', 3, 4, 'Medical', 'M', 'Married', 1987),
 (36, 'No', 'travel_rarely', 2, 2, 'Unknown', 'M', 'Married', 1987),
 (55, 'No', 'travel_rarely', 18, 5, 'Unknown', 'F', 'Single', 1968),
 (35, 'No', 'Unknown', 1, 3, 'Unknown', 'M', 'Unknown', 1988),
 (52, 'No', 'travel_rarely', 6, 2, 'Unknown', 'M', 'Divorced', 1971),
 (49, 'No', 'Unknown', 18, 4, 'Life Sciences', 'M', 'Unknown', 1974),
 (34, 'No', 'travel_rarely', 1, 5, 'Unknown', 'M', 'Married', 1989),
 (33, 'Yes', 'travel_rarely', 1, 4, 'Other', 'M', 'Single', 1990),
 (33, 'No', 'Unknown', 7, 3, 'Medical', 'M', 'Married', 1990),
 (53, 'No', 'travel_rarely', 23, 4, 'Unknown', 'F', 'Unknown', 1970),
 (49, 'No', 'travel_rarely', 8, 2, 'Other', 'F', 'Married', 1974),
 (35, 'No', 'Unknown', 21, 4, 'Unknown', 'M', 'Unknown', 1988),
 (38, 'No', 'travel_rarely', 17, 1, 'Life Sciences', 'F', 'Married', 1985),
 (46, 'No', 'Unknown', 3, 1, 'Marketing', 'M', 'Married', 1977),
 (42, 'Yes', 'travel_frequently', 15, 3, 'Life Sciences', 'M', 'Single', 1981),
 (34, 'No', 'travel_frequently', 1, 3, 'Unknown', 'M', 'Single', 1989),
 (31, 'No', 'travel_rarely', 24, 3, 'Medical', 'F', 'Single', 1992),
 (44, 'No', 'Unknown', 5, 3, 'Unknown', 'M', 'Married', 1979),
 (55, 'No', 'non-travel', 8, 1, 'Unknown', 'M', 'Divorced', 1968),
 (44, 'No', 'travel_rarely', 4, 2, 'Life Sciences', 'M', 'Divorced', 1979),
 (39, 'No', 'Unknown', 13, 4, 'Unknown', 'F', 'Divorced', 1984),
 (55, 'No', 'travel_rarely', 2, 2, 'Medical', 'F', 'Unknown', 1968),
 (51, 'No', 'Unknown', 5, 3, 'Life Sciences', 'M', 'Unknown', 1972),
 (58, 'Yes', 'Unknown', 14, 4, 'Medical', 'F', 'Married', 1965),
 (29, 'No', 'travel_rarely', 17, 3, 'Unknown', 'M', 'Single', 1994),
 (34, 'No', 'Unknown', 3, 3, 'Other', 'M', 'Single', 1989),
 (42, 'No', 'travel_frequently', 9, 2, 'Unknown', 'F', 'Unknown', 1981),
 (34, 'Yes', 'travel_rarely', 24, 4, 'Unknown', 'F', 'Single', 1989),
 (54, 'No', 'travel_frequently', 11, 4, 'Medical', 'F', 'Unknown', 1969),
 (34, 'No', 'travel_rarely', 1, 3, 'Unknown', 'M', 'Unknown', 1989),
 (29, 'No', 'Unknown', 3, 1, 'Medical', 'M', 'Single', 1994),
 (35, 'No', 'travel_rarely', 28, 3, 'Life Sciences', 'M', 'Unknown', 1988),
 (35, 'Yes', 'Unknown', 12, 4, 'Other', 'M', 'Unknown', 1988),
 (34, 'No', 'travel_rarely', 19, 3, 'Life Sciences', 'F', 'Married', 1989),
 (43, 'No', 'Unknown', 2, 3, 'Unknown', 'M', 'Unknown', 1980),
 (43, 'No', 'travel_rarely', 11, 3, 'Life Sciences', 'M', 'Married', 1980),
 (42, 'No', 'Unknown', 23, 2, 'Unknown', 'M', 'Single', 1981),
 (40, 'No', 'Unknown', 11, 3, 'Technical Degree', 'F', 'Married', 1983),
 (56, 'Yes', 'Unknown', 7, 2, 'Technical Degree', 'M', 'Married', 1967),
 (39, 'No', 'travel_rarely', 33, 1, 'Marketing', 'F', 'Unknown', 1984),
 (30, 'No', 'travel_frequently', 1, 2, 'Unknown', 'F', 'Unknown', 1993),
 (32, 'No', 'travel_rarely', 1, 3, 'Medical', 'M', 'Married', 1991),
 (30, 'No', 'travel_rarely', 1, 1, 'Life Sciences', 'M', 'Married', 1993),
 (46, 'Yes', 'Unknown', 9, 2, 'Medical', 'M', 'Unknown', 1977),
 (30, 'No', 'travel_rarely', 4, 2, 'Unknown', 'F', 'Unknown', 1993),
 (32, 'No', 'Unknown', 6, 4, 'Unknown', 'M', 'Single', 1991),
 (32, 'No', 'Unknown', 8, 3, 'Marketing', 'F', 'Single', 1991),
 (41, 'No', 'travel_rarely', 34, 3, 'Life Sciences', 'M', 'Divorced', 1982),
 (40, 'No', 'travel_rarely', 4, 1, 'Medical', 'F', 'Unknown', 1983),
 (45, 'No', 'Unknown', 2, 2, 'Unknown', 'M', 'Married', 1978),
 (32, 'Yes', 'travel_rarely', 4, 4, 'Unknown', 'M', 'Married', 1991),
 (30, 'No', 'non-travel', 1, 1, 'Life Sciences', 'M', 'Unknown', 1993),
 (37, 'No', 'Unknown', 11, 3, 'Unknown', 'M', 'Unknown', 1986),
 (40, 'No', 'Unknown', 24, 2, 'Technical Degree', 'M', 'Unknown', 1983),
 (32, 'No', 'travel_rarely', 7, 3, 'Life Sciences', 'M', 'Married', 1991),
 (38, 'No', 'Unknown', 25, 2, 'Life Sciences', 'F', 'Unknown', 1985),
 (30, 'No', 'travel_rarely', 28, 2, 'Unknown', 'F', 'Married', 1993),
 (39, 'No', 'Unknown', 1, 1, 'Unknown', 'M', 'Unknown', 1984),
 (60, 'No', 'Unknown', 7, 3, 'Life Sciences', 'F', 'Unknown', 1963),
 (30, 'No', 'Unknown', 22, 4, 'Other', 'F', 'Unknown', 1993),
 (31, 'No', 'travel_rarely', 9, 1, 'Unknown', 'M', 'Divorced', 1992),
 (33, 'Yes', 'Unknown', 3, 3, 'Life Sciences', 'M', 'Single', 1990),
 (50, 'No', 'Unknown', 28, 1, 'Medical', 'M', 'Married', 1973),
 (32, 'No', 'Unknown', 24, 4, 'Life Sciences', 'M', 'Unknown', 1991),
 (42, 'No', 'Unknown', 29, 3, 'Unknown', 'M', 'Unknown', 1981),
 (49, 'Yes', 'Unknown', 11, 3, 'Marketing', 'F', 'Married', 1974),
 (27, 'No', 'Unknown', 5, 1, 'Unknown', 'M', 'Divorced', 1996),
 (52, 'No', 'Unknown', 26, 4, 'Unknown', 'F', 'Married', 1971),
 (32, 'No', 'Unknown', 5, 2, 'Life Sciences', 'M', 'Unknown', 1991),
 (36, 'No', 'Unknown', 14, 1, 'Life Sciences', 'M', 'Unknown', 1987),
 (52, 'No', 'Unknown', 1, 2, 'Life Sciences', 'M', 'Married', 1971),
 (33, 'No', 'non-travel', 17, 3, 'Unknown', 'M', 'Single', 1990),
 (45, 'No', 'non-travel', 23, 2, 'Life Sciences', 'M', 'Unknown', 1978),
 (36, 'No', 'travel_rarely', 12, 5, 'Unknown', 'F', 'Unknown', 1987),
 (49, 'No', 'Unknown', 8, 4, 'Unknown', 'M', 'Unknown', 1974),
 (29, 'No', 'Unknown', 6, 1, 'Unknown', 'F', 'Married', 1994),
 (37, 'No', 'Unknown', 1, 3, 'Life Sciences', 'F', 'Married', 1986),
 (28, 'No', 'non-travel', 1, 3, 'Unknown', 'F', 'Married', 1995),
 (31, 'No', 'non-travel', 2, 4, 'Unknown', 'F', 'Unknown', 1992),
 (42, 'No', 'non-travel', 2, 1, 'Life Sciences', 'M', 'Unknown', 1981),
 (40, 'No', 'travel_rarely', 2, 3, 'Life Sciences', 'M', 'Single', 1983),
 (34, 'No', 'Unknown', 15, 2, 'Medical', 'F', 'Single', 1989),
 (58, 'No', 'travel_rarely', 1, 3, 'Unknown', 'F', 'Unknown', 1965),
 (31, 'Yes', 'travel_frequently', 1, 5, 'Unknown', 'F', 'Unknown', 1992),
 (53, 'No', 'Unknown', 2, 3, 'Medical', 'M', 'Single', 1970),
 (34, 'No', 'Unknown', 15, 3, 'Unknown', 'M', 'Unknown', 1989),
 (37, 'No', 'Unknown', 13, 3, 'Unknown', 'M', 'Married', 1986),
 (42, 'No', 'travel_frequently', 2, 3, 'Unknown', 'M', 'Unknown', 1981),
 (45, 'No', 'Unknown', 1, 4, 'Unknown', 'M', 'Divorced', 1978),
 (30, 'Yes', 'travel_rarely', 1, 3, 'Unknown', 'M', 'Married', 1993),
 (38, 'No', 'travel_rarely', 14, 3, 'Life Sciences', 'M', 'Married', 1985),
 (50, 'No', 'Unknown', 20, 5, 'Medical', 'M', 'Unknown', 1973),
 (34, 'No', 'travel_rarely', 3, 3, 'Unknown', 'F', 'Unknown', 1989),
 (54, 'No', 'travel_rarely', 22, 5, 'Unknown', 'F', 'Unknown', 1969),
 (39, 'No', 'Unknown', 1, 3, 'Life Sciences', 'M', 'Married', 1984),
 (36, 'No', 'Unknown', 10, 3, 'Life Sciences', 'M', 'Unknown', 1987),
 (34, 'No', 'travel_rarely', 8, 2, 'Unknown', 'M', 'Unknown', 1989),
 (46, 'No', 'travel_rarely', 2, 2, 'Life Sciences', 'M', 'Divorced', 1977),
 (27, 'No', 'travel_rarely', 23, 1, 'Medical', 'F', 'Married', 1996),
 (31, 'No', 'Unknown', 36, 3, 'Life Sciences', 'M', 'Divorced', 1992),
 (45, 'No', 'travel_rarely', 25, 2, 'Life Sciences', 'F', 'Unknown', 1978),
 (34, 'No', 'travel_rarely', 1, 3, 'Marketing', 'M', 'Unknown', 1989),
 (35, 'No', 'Unknown', 7, 4, 'Unknown', 'F', 'Unknown', 1988),
 (39, 'No', 'travel_rarely', 15, 4, 'Marketing', 'M', 'Single', 1984),
 (40, 'No', 'travel_rarely', 2, 2, 'Marketing', 'F', 'Married', 1983),
 (47, 'No', 'Unknown', 1, 1, 'Unknown', 'F', 'Married', 1976),
 (49, 'No', 'travel_frequently', 8, 1, 'Unknown', 'M', 'Married', 1974),
 (33, 'No', 'travel_frequently', 19, 4, 'Life Sciences', 'F', 'Married', 1990),
 (42, 'No', 'Unknown', 8, 4, 'Unknown', 'M', 'Unknown', 1981),
 (31, 'No', 'Unknown', 7, 4, 'Life Sciences', 'M', 'Divorced', 1992),
 (31, 'No', 'travel_rarely', 8, 4, 'Unknown', 'F', 'Single', 1992),
 (51, 'No', 'Unknown', 21, 4, 'Marketing', 'M', 'Unknown', 1972),
 (34, 'Yes', 'travel_frequently', 7, 3, 'Unknown', 'M', 'Unknown', 1989),
 (36, 'No', 'Unknown', 11, 2, 'Technical Degree', 'F', 'Unknown', 1987),
 (30, 'No', 'travel_frequently', 23, 3, 'Unknown', 'M', 'Divorced', 1993),
 (33, 'No', 'non-travel', 12, 2, 'Unknown', 'M', 'Married', 1990),
 (31, 'Yes', 'Unknown', 6, 4, 'Life Sciences', 'M', 'Married', 1992),
 (41, 'No', 'travel_rarely', 23, 1, 'Unknown', 'M', 'Divorced', 1982),
 (26, 'No', 'travel_rarely', 25, 1, 'Unknown', 'F', 'Unknown', 1997),
 (32, 'No', 'Unknown', 9, 2, 'Unknown', 'M', 'Divorced', 1991),
 (40, 'No', 'travel_frequently', 26, 3, 'Unknown', 'F', 'Divorced', 1983),
 (53, 'No', 'travel_rarely', 6, 2, 'Marketing', 'M', 'Unknown', 1970),
 (33, 'No', 'travel_rarely', 14, 3, 'Unknown', 'F', 'Unknown', 1990),
 (51, 'No', 'travel_rarely', 3, 3, 'Unknown', 'F', 'Single', 1972),
 (27, 'No', 'travel_rarely', 9, 3, 'Medical', 'F', 'Single', 1996),
 (37, 'No', 'Unknown', 21, 3, 'Life Sciences', 'M', 'Unknown', 1986),
 (49, 'No', 'non-travel', 18, 4, 'Unknown', 'M', 'Divorced', 1974),
 (27, 'No', 'Unknown', 20, 3, 'Life Sciences', 'F', 'Single', 1996),
 (45, 'No', 'Unknown', 6, 3, 'Medical', 'F', 'Single', 1978),
 (35, 'No', 'Unknown', 1, 3, 'Unknown', 'F', 'Single', 1988),
 (52, 'No', 'Unknown', 2, 4, 'Life Sciences', 'M', 'Unknown', 1971),
 (38, 'No', 'non-travel', 2, 2, 'Life Sciences', 'M', 'Unknown', 1985),
 (46, 'No', 'Unknown', 27, 3, 'Unknown', 'F', 'Married', 1977),
 (47, 'Yes', 'non-travel', 10, 4, 'Life Sciences', 'M', 'Married', 1976),
 (35, 'No', 'Unknown', 22, 3, 'Life Sciences', 'F', 'Divorced', 1988),
 (29, 'No', 'travel_frequently', 2, 2, 'Unknown', 'M', 'Single', 1994),
 (55, 'No', 'travel_rarely', 20, 2, 'Technical Degree', 'M', 'Married', 1968),
 (26, 'Yes', 'travel_rarely', 45, 4, 'Unknown', 'M', 'Single', 1997),
 (31, 'No', 'travel_rarely', 7, 3, 'Technical Degree', 'M', 'Unknown', 1992),
 (43, 'No', 'travel_frequently', 10, 4, 'Life Sciences', 'F', 'Unknown', 1980),
 (31, 'No', 'travel_rarely', 13, 3, 'Marketing', 'M', 'Unknown', 1992),
 (33, 'No', 'Unknown', 10, 3, 'Unknown', 'M', 'Unknown', 1990),
 (43,
  'No',
  'travel_frequently',
  10,
  4,
  'Life Sciences',
  'F',
  'Divorced',
  1980),
 (29, 'Yes', 'travel_rarely', 8, 4, 'Unknown', 'M', 'Unknown', 1994),
 (27, 'No', 'Unknown', 8, 4, 'Unknown', 'F', 'Unknown', 1996),
 (26, 'No', 'travel_rarely', 1, 3, 'Unknown', 'M', 'Unknown', 1997),
 (40, 'No', 'travel_rarely', 10, 4, 'Life Sciences', 'F', 'Married', 1983),
 (41, 'Yes', 'Unknown', 4, 3, 'Unknown', 'M', 'Unknown', 1982),
 (51, 'No', 'travel_rarely', 14, 2, 'Unknown', 'F', 'Unknown', 1972),
 (41, 'No', 'travel_rarely', 1, 3, 'Marketing', 'M', 'Married', 1982),
 (35, 'No', 'travel_rarely', 16, 3, 'Life Sciences', 'M', 'Unknown', 1988),
 (48, 'No', 'travel_rarely', 2, 5, 'Unknown', 'F', 'Married', 1975),
 (26,
  'Yes',
  'travel_frequently',
  17,
  4,
  'Life Sciences',
  'F',
  'Unknown',
  1997),
 (41, 'No', 'Unknown', 2, 4, 'Other', 'F', 'Single', 1982),
 (34, 'No', 'Unknown', 21, 4, 'Unknown', 'M', 'Single', 1989),
 (31, 'No', 'travel_rarely', 6, 4, 'Medical', 'M', 'Divorced', 1992),
 (43, 'No', 'travel_frequently', 9, 5, 'Unknown', 'M', 'Divorced', 1980),
 (53, 'No', 'Unknown', 1, 1, 'Unknown', 'F', 'Single', 1970),
 (29, 'No', 'Unknown', 1, 4, 'Life Sciences', 'M', 'Divorced', 1994),
 (34, 'No', 'Unknown', 9, 3, 'Medical', 'F', 'Unknown', 1989),
 (39, 'No', 'Unknown', 2, 4, 'Technical Degree', 'F', 'Single', 1984),
 (32, 'No', 'Unknown', 10, 3, 'Marketing', 'M', 'Unknown', 1991),
 (38, 'No', 'travel_rarely', 1, 4, 'Life Sciences', 'F', 'Unknown', 1985),
 (27, 'No', 'travel_rarely', 1, 2, 'Life Sciences', 'F', 'Married', 1996),
 (47, 'No', 'Unknown', 35, 4, 'Marketing', 'M', 'Single', 1976),
 (27, 'No', 'travel_frequently', 10, 2, 'Unknown', 'M', 'Unknown', 1996),
 (41, 'No', 'Unknown', 1, 3, 'Unknown', 'M', 'Unknown', 1982),
 (36, 'No', 'Unknown', 8, 3, 'Unknown', 'F', 'Married', 1987),
 (30, 'No', 'Unknown', 27, 5, 'Marketing', 'M', 'Divorced', 1993),
 (56, 'No', 'travel_rarely', 9, 3, 'Unknown', 'M', 'Married', 1967),
 (45, 'No', 'travel_rarely', 2, 2, 'Unknown', 'M', 'Single', 1978),
 (36, 'No', 'non-travel', 8, 4, 'Unknown', 'M', 'Single', 1987),
 (29, 'No', 'Unknown', 27, 3, 'Medical', 'F', 'Married', 1994),
 (38, 'No', 'Unknown', 2, 4, 'Life Sciences', 'F', 'Single', 1985),
 (42, 'No', 'travel_frequently', 8, 3, 'Unknown', 'M', 'Unknown', 1981),
 (36, 'No', 'travel_rarely', 1, 3, 'Other', 'F', 'Unknown', 1987),
 (55, 'Yes', 'Unknown', 2, 1, 'Medical', 'M', 'Single', 1968),
 (44, 'No', 'Unknown', 9, 2, 'Unknown', 'M', 'Unknown', 1979),
 (41, 'Yes', 'Unknown', 2, 4, 'Life Sciences', 'F', 'Divorced', 1982),
 (31, 'No', 'travel_rarely', 7, 4, 'Unknown', 'M', 'Unknown', 1992),
 (26, 'No', 'travel_frequently', 28, 3, 'Medical', 'M', 'Unknown', 1997),
 (32, 'No', 'Unknown', 3, 4, 'Medical', 'F', 'Married', 1991),
 (36, 'Yes', 'travel_rarely', 3, 1, 'Life Sciences', 'M', 'Married', 1987),
 (45, 'No', 'non-travel', 47, 2, 'Unknown', 'M', 'Unknown', 1978),
 (36, 'No', 'non-travel', 8, 4, 'Technical Degree', 'M', 'Divorced', 1987),
 (54, 'No', 'travel_rarely', 17, 3, 'Technical Degree', 'F', 'Unknown', 1969),
 (30, 'No', 'travel_rarely', 8, 2, 'Unknown', 'F', 'Unknown', 1993),
 (26, 'No', 'Unknown', 2, 2, 'Medical', 'M', 'Married', 1997),
 (55, 'No', 'travel_frequently', 18, 4, 'Medical', 'M', 'Married', 1968),
 (32, 'No', 'non-travel', 29, 4, 'Unknown', 'F', 'Single', 1991),
 (53, 'No', 'travel_frequently', 2, 3, 'Marketing', 'F', 'Unknown', 1970),
 (55, 'No', 'Unknown', 2, 1, 'Unknown', 'M', 'Single', 1968),
 (28, 'Yes', 'non-travel', 24, 2, 'Unknown', 'M', 'Single', 1995),
 (28, 'No', 'travel_rarely', 10, 3, 'Other', 'F', 'Single', 1995),
 (35, 'Yes', 'Unknown', 4, 3, 'Technical Degree', 'M', 'Unknown', 1988),
 (33, 'Yes', 'travel_frequently', 36, 4, 'Medical', 'F', 'Single', 1990),
 (25, 'Yes', 'Unknown', 4, 1, 'Technical Degree', 'M', 'Married', 1998),
 (38, 'No', 'Unknown', 10, 4, 'Unknown', 'M', 'Unknown', 1985),
 (43, 'No', 'travel_frequently', 27, 3, 'Life Sciences', 'F', 'Married', 1980),
 (40, 'No', 'travel_rarely', 14, 3, 'Unknown', 'M', 'Unknown', 1983),
 (26, 'No', 'travel_rarely', 3, 4, 'Unknown', 'M', 'Unknown', 1997),
 (35, 'No', 'travel_rarely', 2, 3, 'Unknown', 'M', 'Divorced', 1988),
 (53, 'No', 'Unknown', 7, 2, 'Medical', 'F', 'Divorced', 1970),
 (35, 'No', 'Unknown', 17, 4, 'Life Sciences', 'M', 'Unknown', 1988),
 (33, 'No', 'Unknown', 25, 3, 'Medical', 'F', 'Unknown', 1990),
 (30, 'No', 'travel_rarely', 7, 4, 'Life Sciences', 'M', 'Divorced', 1993),

In [8]:
df_empleados.shape

(1080, 9)

Crear base de datos

In [9]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE ABC_Corporation")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE DATABASE ABC_Corporation

Creacion de tablas

In [10]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='ABC_Corporation')


mycursor = cnx.cursor()
try:
    mycursor.execute("""
        CREATE TABLE Employees (
        EmployeeNumber INT PRIMARY KEY AUTO_INCREMENT,
        Age INT,
        Gender VARCHAR(100),
        MaritalStatus VARCHAR(100),
        DateBirth INT,
        Education INT,
        EducationField VARCHAR(100),
        Attrition VARCHAR(100),
        BusinessTravel VARCHAR(100),
        DistanceFromHome INT
    )
    """)
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor:
        CREATE TABLE Employees (
      ..

### Crear tabla JobDetails

In [17]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='ABC_Corporation')


mycursor = cnx.cursor()
try:
    mycursor.execute("""
        CREATE TABLE JobDetails (
        JobDetailID INT PRIMARY KEY AUTO_INCREMENT,
        JobRole VARCHAR(100),
        JobLevel INT,
        NumCompaniesWorked INT,
        TotalWorkingYears VARCHAR(100),
        YearsAtCompany INT,
        YearsSinceLastPromotion INT,
        YearsWithCurrManager INT,
        EmployeeNumber INT,
        FOREIGN KEY (EmployeeNumber) REFERENCES Employees(EmployeeNumber)
    )
    """)
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1050 (42S01): Table 'jobdetails' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'jobdetails' already exists

### Crear tabla Compensation

In [18]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='ABC_Corporation')


mycursor = cnx.cursor()
try:
    mycursor.execute("""
        CREATE TABLE Compensation (
        CompensationID INT PRIMARY KEY AUTO_INCREMENT,
        EmployeeNumber INT,
        DailyRate INT,
        HourlyRate INT,
        MonthlyIncome INT,
        MonthlyRate INT,
        StockOptionLevel INT,
        PercentSalaryHike INT,
        OverTime VARCHAR(100),
        TrainingTimesLastYear INT,
        RemoteWork VARCHAR(100),
        FOREIGN KEY (EmployeeNumber) REFERENCES Employees(EmployeeNumber)
    )
    """)
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor:
        CREATE TABLE Compensation (
   ..

### Creacion tabla Satisfaction

In [19]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='ABC_Corporation')


mycursor = cnx.cursor()
try:
    mycursor.execute("""
        CREATE TABLE Satisfaction (
        SatisfactionID INT PRIMARY KEY AUTO_INCREMENT,
        EmployeeNumber INT,
        EnvironmentSatisfaction INT,
        JobInvolvement INT,
        JobSatisfaction INT,
        RelationshipSatisfaction INT,
        WorkLifeBalance INT,
        PerformanceRating VARCHAR(100),
        FOREIGN KEY (EmployeeNumber) REFERENCES Employees(EmployeeNumber)
    )
    """)
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor:
        CREATE TABLE Satisfaction (
   ..