In [10]:
#Importamos la librería pandas que necesitamos para la lectura, conversión y limpieza de los datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np
import re 

#Importamos librerías necesarias para la visualización
# -----------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
pd.set_option('display.max_rows', None) # para poder visualizar todas las filas de los DataFrames

In [11]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode

In [12]:
df_HR = pd.read_csv('df_HR_limpio.csv')
df_HR.head()

,Unnamed: 0,Age,Attrition,BusinessTravel,DailyRate,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,DateBirth,RemoteWork
0,0,51,No,Unknown,684.0,6,3,Unknown,"162,0",1,M,51.0,3,5,Research Director,3,Unknown,19537.0,6462,7,No,13,"3,0",3,0,Unknown,5,3.000000,20,15,15,1972,Yes
1,1,52,No,Unknown,699.0,1,4,Life Sciences,"259,0",3,M,65.0,2,5,Manager,3,Unknown,19999.0,5678,0,Unknown,14,"3,0",1,1,"34,0",5,3.000000,33,11,9,1971,1
2,2,42,No,travel_rarely,532.0,4,2,Technical Degree,"319,0",3,M,58.0,3,5,Manager,4,Married,19232.0,4933,1,No,11,"3,0",4,0,"22,0",3,2.766568,22,11,15,1981,1
3,3,47,No,travel_rarely,359.0,2,4,Medical,Unknown,1,F,82.0,3,4,Research Director,3,Married,17169.0,26703,3,Unknown,19,"3,0",2,2,Unknown,2,2.766568,20,5,6,1976,False
4,5,48,No,Unknown,117.0,22,3,Medical,"1900,0",4,F,58.0,3,4,Manager,4,Unknown,17174.0,2437,3,No,11,"3,0",2,1,Unknown,3,3.000000,22,4,7,1975,Yes

In [13]:
df_HR.shape

(1080, 33)

In [14]:
df_Employees = df_HR[["Age", "Gender", "MaritalStatus", "DateBirth", "Education", "EducationField", "Attrition", "BusinessTravel", "DistanceFromHome"]]

df_JobDetails = df_HR[["JobRole", "JobLevel", "NumCompaniesWorked", "TotalWorkingYears", "YearsAtCompany", "YearsSinceLastPromotion", "YearsWithCurrManager"]]

df_Compensation = df_HR[["DailyRate", "HourlyRate", "MonthlyIncome", "MonthlyRate", "StockOptionLevel", "PercentSalaryHike", "OverTime", "TrainingTimesLastYear", "RemoteWork"]]

df_Satisfaction = df_HR[["EnvironmentSatisfaction", "JobInvolvement", "JobSatisfaction", "RelationshipSatisfaction", "WorkLifeBalance", "PerformanceRating"]]

In [15]:
df_empleados = pd.read_csv('Employees.csv')
df_empleados.shape

(1080, 9)

df_employees a lista de tuplas

In [16]:
lista_de_tuplas = [tuple(x) for x in df_Employees.to_records(index=False)]

In [17]:
lista_de_tuplas

[(51, 'M', 'Unknown', 1972, 3, 'Unknown', 'No', 'Unknown', 6),
 (52, 'M', 'Unknown', 1971, 4, 'Life Sciences', 'No', 'Unknown', 1),
 (42, 'M', 'Married', 1981, 2, 'Technical Degree', 'No', 'travel_rarely', 4),
 (47, 'F', 'Married', 1976, 4, 'Medical', 'No', 'travel_rarely', 2),
 (48, 'F', 'Unknown', 1975, 3, 'Medical', 'No', 'Unknown', 22),
 (59, 'F', 'Unknown', 1964, 3, 'Life Sciences', 'No', 'Unknown', 25),
 (42, 'M', 'Married', 1981, 1, 'Unknown', 'No', 'travel_rarely', 1),
 (41, 'M', 'Unknown', 1982, 3, 'Unknown', 'No', 'travel_frequently', 9),
 (41, 'F', 'Unknown', 1982, 1, 'Unknown', 'No', 'non-travel', 7),
 (41, 'F', 'Married', 1982, 3, 'Unknown', 'Yes', 'travel_rarely', 12),
 (40, 'F', 'Unknown', 1983, 4, 'Unknown', 'No', 'travel_rarely', 2),
 (58, 'M', 'Single', 1965, 4, 'Unknown', 'Yes', 'travel_rarely', 2),
 (45, 'M', 'Unknown', 1978, 1, 'Unknown', 'No', 'non-travel', 1),
 (33, 'F', 'Single', 1990, 2, 'Life Sciences', 'No', 'Unknown', 1),
 (47, 'F', 'Married', 1976, 2, 'Other', 'No', 'Unknown', 2),
 (36, 'F', 'Single', 1987, 4, 'Life Sciences', 'No', 'Unknown', 2),
 (34, 'M', 'Unknown', 1989, 3, 'Life Sciences', 'No', 'non-travel', 10),
 (41, 'F', 'Divorced', 1982, 1, 'Unknown', 'No', 'Unknown', 37),
 (47, 'M', 'Unknown', 1976, 3, 'Medical', 'No', 'Unknown', 25),
 (53, 'F', 'Unknown', 1970, 3, 'Unknown', 'No', 'travel_rarely', 5),
 (35, 'M', 'Single', 1988, 4, 'Marketing', 'No', 'Unknown', 1),
 (46, 'F', 'Divorced', 1977, 2, 'Unknown', 'No', 'travel_rarely', 1),
 (43, 'F', 'Married', 1980, 3, 'Unknown', 'No', 'Unknown', 16),
 (36, 'M', 'Married', 1987, 3, 'Life Sciences', 'No', 'Unknown', 6),
 (40, 'M', 'Married', 1983, 4, 'Unknown', 'No', 'travel_frequently', 5),
 (32, 'F', 'Married', 1991, 3, 'Unknown', 'No', 'travel_rarely', 4),
 (53, 'M', 'Divorced', 1970, 2, 'Medical', 'No', 'Unknown', 2),
 (36, 'F', 'Single', 1987, 4, 'Unknown', 'Yes', 'travel_rarely', 16),
 (46, 'F', 'Divorced', 1977, 4, 'Life Sciences', 'No', 'Unknown', 8),
 (38, 'M', 'Married', 1985, 4, 'Unknown', 'No', 'travel_rarely', 1),
 (51, 'F', 'Single', 1972, 4, 'Unknown', 'No', 'Unknown', 1),
 (43, 'M', 'Married', 1980, 2, 'Unknown', 'No', 'Unknown', 26),
 (37, 'F', 'Single', 1986, 3, 'Life Sciences', 'No', 'Unknown', 1),
 (32, 'F', 'Married', 1991, 2, 'Technical Degree', 'No', 'travel_rarely', 8),
 (46, 'F', 'Unknown', 1977, 3, 'Life Sciences', 'No', 'Unknown', 3),
 (43, 'F', 'Married', 1980, 3, 'Medical', 'No', 'Unknown', 6),
 (56, 'M', 'Divorced', 1967, 4, 'Life Sciences', 'No', 'non-travel', 1),
 (38, 'F', 'Unknown', 1985, 3, 'Medical', 'No', 'Unknown', 6),
 (49, 'F', 'Unknown', 1974, 4, 'Medical', 'No', 'Unknown', 26),
 (40, 'M', 'Married', 1983, 4, 'Unknown', 'No', 'Unknown', 4),
 (36, 'M', 'Single', 1987, 2, 'Unknown', 'No', 'Unknown', 5),
 (37, 'F', 'Married', 1986, 5, 'Unknown', 'No', 'Unknown', 25),
 (35, 'M', 'Unknown', 1988, 4, 'Unknown', 'No', 'Unknown', 6),
 (33, 'M', 'Divorced', 1990, 3, 'Life Sciences', 'No', 'travel_frequently', 6),
 (50, 'M', 'Married', 1973, 3, 'Unknown', 'No', 'travel_rarely', 24),
 (48, 'M', 'Single', 1975, 4, 'Unknown', 'No', 'travel_rarely', 4),
 (44, 'F', 'Married', 1979, 3, 'Unknown', 'No', 'travel_rarely', 28),
 (44, 'M', 'Single', 1979, 4, 'Unknown', 'No', 'travel_rarely', 29),
 (40, 'F', 'Unknown', 1983, 1, 'Unknown', 'No', 'Unknown', 25),
 (49, 'F', 'Unknown', 1974, 1, 'Life Sciences', 'No', 'Unknown', 6),
 (38, 'M', 'Unknown', 1985, 3, 'Life Sciences', 'No', 'travel_frequently', 1),
 (33, 'M', 'Unknown', 1990, 3, 'Unknown', 'No', 'Unknown', 21),
 (38, 'F', 'Divorced', 1985, 3, 'Unknown', 'No', 'Unknown', 8),
 (37, 'F', 'Unknown', 1986, 3, 'Life Sciences', 'No', 'travel_rarely', 10),
 (30, 'M', 'Married', 1993, 3, 'Unknown', 'No', 'Unknown', 2),
 (58, 'M', 'Single', 1965, 4, 'Unknown', 'No', 'travel_rarely', 18),
 (34, 'F', 'Single', 1989, 3, 'Unknown', 'No', 'travel_rarely', 5),
 (38, 'M', 'Divorced', 1985, 3, 'Life Sciences', 'No', 'Unknown', 3),
 (55, 'M', 'Single', 1968, 3, 'Medical', 'No', 'travel_rarely', 1),
 (31, 'F', 'Married', 1992, 2, 'Unknown', 'No', 'Unknown', 30),
 (50, 'M', 'Married', 1973, 4, 'Life Sciences', 'No', 'travel_rarely', 27),
 (35, 'M', 'Married', 1988, 3, 'Technical Degree', 'No', 'Unknown', 25),
 (35, 'F', 'Divorced', 1988, 4, 'Unknown', 'No', 'Unknown', 25),
 (45, 'F', 'Married', 1978, 4, 'Life Sciences', 'No', 'Unknown', 9),
 (33, 'M', 'Married', 1990, 3, 'Medical', 'No', 'Unknown', 9),
 (45, 'F', 'Unknown', 1978, 3, 'Marketing', 'Yes', 'Unknown', 13),
 (34, 'M', 'Unknown', 1989, 2, 'Technical Degree', 'No', 'travel_rarely', 7),
 (43, 'M', 'Unknown', 1980, 2, 'Unknown', 'No', 'travel_rarely', 15),
 (34, 'M', 'Unknown', 1989, 2, 'Medical', 'No', 'Unknown', 5),
 (38, 'M', 'Divorced', 1985, 3, 'Unknown', 'No', 'Unknown', 2),
 (34, 'M', 'Married', 1989, 4, 'Other', 'No', 'Unknown', 22),
 (32, 'F', 'Unknown', 1991, 4, 'Unknown', 'No', 'travel_rarely', 31),
 (29, 'F', 'Divorced', 1994, 4, 'Life Sciences', 'No', 'travel_rarely', 21),
 (30, 'M', 'Married', 1993, 3, 'Unknown', 'No', 'Unknown', 9),
 (45, 'M', 'Unknown', 1978, 3, 'Life Sciences', 'No', 'Unknown', 9),
 (30, 'F', 'Unknown', 1993, 3, 'Unknown', 'No', 'travel_rarely', 5),
 (30, 'M', 'Unknown', 1993, 3, 'Unknown', 'No', 'Unknown', 9),
 (34, 'M', 'Married', 1989, 1, 'Unknown', 'No', 'travel_frequently', 29),
 (34, 'M', 'Unknown', 1989, 4, 'Life Sciences', 'No', 'Unknown', 39),
 (35, 'M', 'Married', 1988, 3, 'Unknown', 'No', 'travel_rarely', 16),
 (39, 'M', 'Married', 1984, 1, 'Unknown', 'No', 'Unknown', 10),
 (39, 'M', 'Married', 1984, 2, 'Unknown', 'No', 'Unknown', 7),
 (45, 'M', 'Unknown', 1978, 4, 'Unknown', 'No', 'travel_rarely', 8),
 (30, 'F', 'Unknown', 1993, 3, 'Marketing', 'No', 'travel_rarely', 5),
 (36, 'M', 'Married', 1987, 4, 'Medical', 'No', 'Unknown', 3),
 (36, 'M', 'Married', 1987, 2, 'Unknown', 'No', 'travel_rarely', 2),
 (55, 'F', 'Single', 1968, 5, 'Unknown', 'No', 'travel_rarely', 18),
 (35, 'M', 'Unknown', 1988, 3, 'Unknown', 'No', 'Unknown', 1),
 (52, 'M', 'Divorced', 1971, 2, 'Unknown', 'No', 'travel_rarely', 6),
 (49, 'M', 'Unknown', 1974, 4, 'Life Sciences', 'No', 'Unknown', 18),
 (34, 'M', 'Married', 1989, 5, 'Unknown', 'No', 'travel_rarely', 1),
 (33, 'M', 'Single', 1990, 4, 'Other', 'Yes', 'travel_rarely', 1),
 (33, 'M', 'Married', 1990, 3, 'Medical', 'No', 'Unknown', 7),
 (53, 'F', 'Unknown', 1970, 4, 'Unknown', 'No', 'travel_rarely', 23),
 (49, 'F', 'Married', 1974, 2, 'Other', 'No', 'travel_rarely', 8),
 (35, 'M', 'Unknown', 1988, 4, 'Unknown', 'No', 'Unknown', 21),
 (38, 'F', 'Married', 1985, 1, 'Life Sciences', 'No', 'travel_rarely', 17),
 (46, 'M', 'Married', 1977, 1, 'Marketing', 'No', 'Unknown', 3),
 (42, 'M', 'Single', 1981, 3, 'Life Sciences', 'Yes', 'travel_frequently', 15),
 (34, 'M', 'Single', 1989, 3, 'Unknown', 'No', 'travel_frequently', 1),
 (31, 'F', 'Single', 1992, 3, 'Medical', 'No', 'travel_rarely', 24),
 (44, 'M', 'Married', 1979, 3, 'Unknown', 'No', 'Unknown', 5),
 (55, 'M', 'Divorced', 1968, 1, 'Unknown', 'No', 'non-travel', 8),
 (44, 'M', 'Divorced', 1979, 2, 'Life Sciences', 'No', 'travel_rarely', 4),
 (39, 'F', 'Divorced', 1984, 4, 'Unknown', 'No', 'Unknown', 13),
 (55, 'F', 'Unknown', 1968, 2, 'Medical', 'No', 'travel_rarely', 2),
 (51, 'M', 'Unknown', 1972, 3, 'Life Sciences', 'No', 'Unknown', 5),
 (58, 'F', 'Married', 1965, 4, 'Medical', 'Yes', 'Unknown', 14),
 (29, 'M', 'Single', 1994, 3, 'Unknown', 'No', 'travel_rarely', 17),
 (34, 'M', 'Single', 1989, 3, 'Other', 'No', 'Unknown', 3),
 (42, 'F', 'Unknown', 1981, 2, 'Unknown', 'No', 'travel_frequently', 9),
 (34, 'F', 'Single', 1989, 4, 'Unknown', 'Yes', 'travel_rarely', 24),
 (54, 'F', 'Unknown', 1969, 4, 'Medical', 'No', 'travel_frequently', 11),
 (34, 'M', 'Unknown', 1989, 3, 'Unknown', 'No', 'travel_rarely', 1),
 (29, 'M', 'Single', 1994, 1, 'Medical', 'No', 'Unknown', 3),
 (35, 'M', 'Unknown', 1988, 3, 'Life Sciences', 'No', 'travel_rarely', 28),
 (35, 'M', 'Unknown', 1988, 4, 'Other', 'Yes', 'Unknown', 12),
 (34, 'F', 'Married', 1989, 3, 'Life Sciences', 'No', 'travel_rarely', 19),
 (43, 'M', 'Unknown', 1980, 3, 'Unknown', 'No', 'Unknown', 2),
 (43, 'M', 'Married', 1980, 3, 'Life Sciences', 'No', 'travel_rarely', 11),
 (42, 'M', 'Single', 1981, 2, 'Unknown', 'No', 'Unknown', 23),
 (40, 'F', 'Married', 1983, 3, 'Technical Degree', 'No', 'Unknown', 11),
 (56, 'M', 'Married', 1967, 2, 'Technical Degree', 'Yes', 'Unknown', 7),
 (39, 'F', 'Unknown', 1984, 1, 'Marketing', 'No', 'travel_rarely', 33),
 (30, 'F', 'Unknown', 1993, 2, 'Unknown', 'No', 'travel_frequently', 1),
 (32, 'M', 'Married', 1991, 3, 'Medical', 'No', 'travel_rarely', 1),
 (30, 'M', 'Married', 1993, 1, 'Life Sciences', 'No', 'travel_rarely', 1),
 (46, 'M', 'Unknown', 1977, 2, 'Medical', 'Yes', 'Unknown', 9),
 (30, 'F', 'Unknown', 1993, 2, 'Unknown', 'No', 'travel_rarely', 4),
 (32, 'M', 'Single', 1991, 4, 'Unknown', 'No', 'Unknown', 6),
 (32, 'F', 'Single', 1991, 3, 'Marketing', 'No', 'Unknown', 8),
 (41, 'M', 'Divorced', 1982, 3, 'Life Sciences', 'No', 'travel_rarely', 34),
 (40, 'F', 'Unknown', 1983, 1, 'Medical', 'No', 'travel_rarely', 4),
 (45, 'M', 'Married', 1978, 2, 'Unknown', 'No', 'Unknown', 2),
 (32, 'M', 'Married', 1991, 4, 'Unknown', 'Yes', 'travel_rarely', 4),
 (30, 'M', 'Unknown', 1993, 1, 'Life Sciences', 'No', 'non-travel', 1),
 (37, 'M', 'Unknown', 1986, 3, 'Unknown', 'No', 'Unknown', 11),
 (40, 'M', 'Unknown', 1983, 2, 'Technical Degree', 'No', 'Unknown', 24),
 (32, 'M', 'Married', 1991, 3, 'Life Sciences', 'No', 'travel_rarely', 7),
 (38, 'F', 'Unknown', 1985, 2, 'Life Sciences', 'No', 'Unknown', 25),
 (30, 'F', 'Married', 1993, 2, 'Unknown', 'No', 'travel_rarely', 28),
 (39, 'M', 'Unknown', 1984, 1, 'Unknown', 'No', 'Unknown', 1),
 (60, 'F', 'Unknown', 1963, 3, 'Life Sciences', 'No', 'Unknown', 7),
 (30, 'F', 'Unknown', 1993, 4, 'Other', 'No', 'Unknown', 22),
 (31, 'M', 'Divorced', 1992, 1, 'Unknown', 'No', 'travel_rarely', 9),
 (33, 'M', 'Single', 1990, 3, 'Life Sciences', 'Yes', 'Unknown', 3),
 (50, 'M', 'Married', 1973, 1, 'Medical', 'No', 'Unknown', 28),
 (32, 'M', 'Unknown', 1991, 4, 'Life Sciences', 'No', 'Unknown', 24),
 (42, 'M', 'Unknown', 1981, 3, 'Unknown', 'No', 'Unknown', 29),
 (49, 'F', 'Married', 1974, 3, 'Marketing', 'Yes', 'Unknown', 11),
 (27, 'M', 'Divorced', 1996, 1, 'Unknown', 'No', 'Unknown', 5),
 (52, 'F', 'Married', 1971, 4, 'Unknown', 'No', 'Unknown', 26),
 (32, 'M', 'Unknown', 1991, 2, 'Life Sciences', 'No', 'Unknown', 5),
 (36, 'M', 'Unknown', 1987, 1, 'Life Sciences', 'No', 'Unknown', 14),
 (52, 'M', 'Married', 1971, 2, 'Life Sciences', 'No', 'Unknown', 1),
 (33, 'M', 'Single', 1990, 3, 'Unknown', 'No', 'non-travel', 17),
 (45, 'M', 'Unknown', 1978, 2, 'Life Sciences', 'No', 'non-travel', 23),
 (36, 'F', 'Unknown', 1987, 5, 'Unknown', 'No', 'travel_rarely', 12),
 (49, 'M', 'Unknown', 1974, 4, 'Unknown', 'No', 'Unknown', 8),
 (29, 'F', 'Married', 1994, 1, 'Unknown', 'No', 'Unknown', 6),
 (37, 'F', 'Married', 1986, 3, 'Life Sciences', 'No', 'Unknown', 1),
 (28, 'F', 'Married', 1995, 3, 'Unknown', 'No', 'non-travel', 1),
 (31, 'F', 'Unknown', 1992, 4, 'Unknown', 'No', 'non-travel', 2),
 (42, 'M', 'Unknown', 1981, 1, 'Life Sciences', 'No', 'non-travel', 2),
 (40, 'M', 'Single', 1983, 3, 'Life Sciences', 'No', 'travel_rarely', 2),
 (34, 'F', 'Single', 1989, 2, 'Medical', 'No', 'Unknown', 15),
 (58, 'F', 'Unknown', 1965, 3, 'Unknown', 'No', 'travel_rarely', 1),
 (31, 'F', 'Unknown', 1992, 5, 'Unknown', 'Yes', 'travel_frequently', 1),
 (53, 'M', 'Single', 1970, 3, 'Medical', 'No', 'Unknown', 2),
 (34, 'M', 'Unknown', 1989, 3, 'Unknown', 'No', 'Unknown', 15),
 (37, 'M', 'Married', 1986, 3, 'Unknown', 'No', 'Unknown', 13),
 (42, 'M', 'Unknown', 1981, 3, 'Unknown', 'No', 'travel_frequently', 2),
 (45, 'M', 'Divorced', 1978, 4, 'Unknown', 'No', 'Unknown', 1),
 (30, 'M', 'Married', 1993, 3, 'Unknown', 'Yes', 'travel_rarely', 1),
 (38, 'M', 'Married', 1985, 3, 'Life Sciences', 'No', 'travel_rarely', 14),
 (50, 'M', 'Unknown', 1973, 5, 'Medical', 'No', 'Unknown', 20),
 (34, 'F', 'Unknown', 1989, 3, 'Unknown', 'No', 'travel_rarely', 3),
 (54, 'F', 'Unknown', 1969, 5, 'Unknown', 'No', 'travel_rarely', 22),
 (39, 'M', 'Married', 1984, 3, 'Life Sciences', 'No', 'Unknown', 1),
 (36, 'M', 'Unknown', 1987, 3, 'Life Sciences', 'No', 'Unknown', 10),
 (34, 'M', 'Unknown', 1989, 2, 'Unknown', 'No', 'travel_rarely', 8),
 (46, 'M', 'Divorced', 1977, 2, 'Life Sciences', 'No', 'travel_rarely', 2),
 (27, 'F', 'Married', 1996, 1, 'Medical', 'No', 'travel_rarely', 23),
 (31, 'M', 'Divorced', 1992, 3, 'Life Sciences', 'No', 'Unknown', 36),
 (45, 'F', 'Unknown', 1978, 2, 'Life Sciences', 'No', 'travel_rarely', 25),
 (34, 'M', 'Unknown', 1989, 3, 'Marketing', 'No', 'travel_rarely', 1),
 (35, 'F', 'Unknown', 1988, 4, 'Unknown', 'No', 'Unknown', 7),
 (39, 'M', 'Single', 1984, 4, 'Marketing', 'No', 'travel_rarely', 15),
 (40, 'F', 'Married', 1983, 2, 'Marketing', 'No', 'travel_rarely', 2),
 (47, 'F', 'Married', 1976, 1, 'Unknown', 'No', 'Unknown', 1),
 (49, 'M', 'Married', 1974, 1, 'Unknown', 'No', 'travel_frequently', 8),
 (33, 'F', 'Married', 1990, 4, 'Life Sciences', 'No', 'travel_frequently', 19),
 (42, 'M', 'Unknown', 1981, 4, 'Unknown', 'No', 'Unknown', 8),
 (31, 'M', 'Divorced', 1992, 4, 'Life Sciences', 'No', 'Unknown', 7),
 (31, 'F', 'Single', 1992, 4, 'Unknown', 'No', 'travel_rarely', 8),
 (51, 'M', 'Unknown', 1972, 4, 'Marketing', 'No', 'Unknown', 21),
 (34, 'M', 'Unknown', 1989, 3, 'Unknown', 'Yes', 'travel_frequently', 7),
 (36, 'F', 'Unknown', 1987, 2, 'Technical Degree', 'No', 'Unknown', 11),
 (30, 'M', 'Divorced', 1993, 3, 'Unknown', 'No', 'travel_frequently', 23),
 (33, 'M', 'Married', 1990, 2, 'Unknown', 'No', 'non-travel', 12),
 (31, 'M', 'Married', 1992, 4, 'Life Sciences', 'Yes', 'Unknown', 6),
 (41, 'M', 'Divorced', 1982, 1, 'Unknown', 'No', 'travel_rarely', 23),
 (26, 'F', 'Unknown', 1997, 1, 'Unknown', 'No', 'travel_rarely', 25),
 (32, 'M', 'Divorced', 1991, 2, 'Unknown', 'No', 'Unknown', 9),
 (40, 'F', 'Divorced', 1983, 3, 'Unknown', 'No', 'travel_frequently', 26),
 (53, 'M', 'Unknown', 1970, 2, 'Marketing', 'No', 'travel_rarely', 6),
 (33, 'F', 'Unknown', 1990, 3, 'Unknown', 'No', 'travel_rarely', 14),
 (51, 'F', 'Single', 1972, 3, 'Unknown', 'No', 'travel_rarely', 3),
 (27, 'F', 'Single', 1996, 3, 'Medical', 'No', 'travel_rarely', 9),
 (37, 'M', 'Unknown', 1986, 3, 'Life Sciences', 'No', 'Unknown', 21),
 (49, 'M', 'Divorced', 1974, 4, 'Unknown', 'No', 'non-travel', 18),
 (27, 'F', 'Single', 1996, 3, 'Life Sciences', 'No', 'Unknown', 20),
 (45, 'F', 'Single', 1978, 3, 'Medical', 'No', 'Unknown', 6),
 (35, 'F', 'Single', 1988, 3, 'Unknown', 'No', 'Unknown', 1),
 (52, 'M', 'Unknown', 1971, 4, 'Life Sciences', 'No', 'Unknown', 2),
 (38, 'M', 'Unknown', 1985, 2, 'Life Sciences', 'No', 'non-travel', 2),
 (46, 'F', 'Married', 1977, 3, 'Unknown', 'No', 'Unknown', 27),
 (47, 'M', 'Married', 1976, 4, 'Life Sciences', 'Yes', 'non-travel', 10),
 (35, 'F', 'Divorced', 1988, 3, 'Life Sciences', 'No', 'Unknown', 22),
 (29, 'M', 'Single', 1994, 2, 'Unknown', 'No', 'travel_frequently', 2),
 (55, 'M', 'Married', 1968, 2, 'Technical Degree', 'No', 'travel_rarely', 20),
 (26, 'M', 'Single', 1997, 4, 'Unknown', 'Yes', 'travel_rarely', 45),
 (31, 'M', 'Unknown', 1992, 3, 'Technical Degree', 'No', 'travel_rarely', 7),
 (43, 'F', 'Unknown', 1980, 4, 'Life Sciences', 'No', 'travel_frequently', 10),
 (31, 'M', 'Unknown', 1992, 3, 'Marketing', 'No', 'travel_rarely', 13),
 (33, 'M', 'Unknown', 1990, 3, 'Unknown', 'No', 'Unknown', 10),
 (43,
  'F',
  'Divorced',
  1980,
  4,
  'Life Sciences',
  'No',
  'travel_frequently',
  10),
 (29, 'M', 'Unknown', 1994, 4, 'Unknown', 'Yes', 'travel_rarely', 8),
 (27, 'F', 'Unknown', 1996, 4, 'Unknown', 'No', 'Unknown', 8),
 (26, 'M', 'Unknown', 1997, 3, 'Unknown', 'No', 'travel_rarely', 1),
 (40, 'F', 'Married', 1983, 4, 'Life Sciences', 'No', 'travel_rarely', 10),
 (41, 'M', 'Unknown', 1982, 3, 'Unknown', 'Yes', 'Unknown', 4),
 (51, 'F', 'Unknown', 1972, 2, 'Unknown', 'No', 'travel_rarely', 14),
 (41, 'M', 'Married', 1982, 3, 'Marketing', 'No', 'travel_rarely', 1),
 (35, 'M', 'Unknown', 1988, 3, 'Life Sciences', 'No', 'travel_rarely', 16),
 (48, 'F', 'Married', 1975, 5, 'Unknown', 'No', 'travel_rarely', 2),
 (26,
  'F',
  'Unknown',
  1997,
  4,
  'Life Sciences',
  'Yes',
  'travel_frequently',
  17),
 (41, 'F', 'Single', 1982, 4, 'Other', 'No', 'Unknown', 2),
 (34, 'M', 'Single', 1989, 4, 'Unknown', 'No', 'Unknown', 21),
 (31, 'M', 'Divorced', 1992, 4, 'Medical', 'No', 'travel_rarely', 6),
 (43, 'M', 'Divorced', 1980, 5, 'Unknown', 'No', 'travel_frequently', 9),
 (53, 'F', 'Single', 1970, 1, 'Unknown', 'No', 'Unknown', 1),
 (29, 'M', 'Divorced', 1994, 4, 'Life Sciences', 'No', 'Unknown', 1),
 (34, 'F', 'Unknown', 1989, 3, 'Medical', 'No', 'Unknown', 9),
 (39, 'F', 'Single', 1984, 4, 'Technical Degree', 'No', 'Unknown', 2),
 (32, 'M', 'Unknown', 1991, 3, 'Marketing', 'No', 'Unknown', 10),
 (38, 'F', 'Unknown', 1985, 4, 'Life Sciences', 'No', 'travel_rarely', 1),
 (27, 'F', 'Married', 1996, 2, 'Life Sciences', 'No', 'travel_rarely', 1),
 (47, 'M', 'Single', 1976, 4, 'Marketing', 'No', 'Unknown', 35),
 (27, 'M', 'Unknown', 1996, 2, 'Unknown', 'No', 'travel_frequently', 10),
 (41, 'M', 'Unknown', 1982, 3, 'Unknown', 'No', 'Unknown', 1),
 (36, 'F', 'Married', 1987, 3, 'Unknown', 'No', 'Unknown', 8),
 (30, 'M', 'Divorced', 1993, 5, 'Marketing', 'No', 'Unknown', 27),
 (56, 'M', 'Married', 1967, 3, 'Unknown', 'No', 'travel_rarely', 9),
 (45, 'M', 'Single', 1978, 2, 'Unknown', 'No', 'travel_rarely', 2),
 (36, 'M', 'Single', 1987, 4, 'Unknown', 'No', 'non-travel', 8),
 (29, 'F', 'Married', 1994, 3, 'Medical', 'No', 'Unknown', 27),
 (38, 'F', 'Single', 1985, 4, 'Life Sciences', 'No', 'Unknown', 2),
 (42, 'M', 'Unknown', 1981, 3, 'Unknown', 'No', 'travel_frequently', 8),
 (36, 'F', 'Unknown', 1987, 3, 'Other', 'No', 'travel_rarely', 1),
 (55, 'M', 'Single', 1968, 1, 'Medical', 'Yes', 'Unknown', 2),
 (44, 'M', 'Unknown', 1979, 2, 'Unknown', 'No', 'Unknown', 9),
 (41, 'F', 'Divorced', 1982, 4, 'Life Sciences', 'Yes', 'Unknown', 2),
 (31, 'M', 'Unknown', 1992, 4, 'Unknown', 'No', 'travel_rarely', 7),
 (26, 'M', 'Unknown', 1997, 3, 'Medical', 'No', 'travel_frequently', 28),
 (32, 'F', 'Married', 1991, 4, 'Medical', 'No', 'Unknown', 3),
 (36, 'M', 'Married', 1987, 1, 'Life Sciences', 'Yes', 'travel_rarely', 3),
 (45, 'M', 'Unknown', 1978, 2, 'Unknown', 'No', 'non-travel', 47),
 (36, 'M', 'Divorced', 1987, 4, 'Technical Degree', 'No', 'non-travel', 8),
 (54, 'F', 'Unknown', 1969, 3, 'Technical Degree', 'No', 'travel_rarely', 17),
 (30, 'F', 'Unknown', 1993, 2, 'Unknown', 'No', 'travel_rarely', 8),
 (26, 'M', 'Married', 1997, 2, 'Medical', 'No', 'Unknown', 2),
 (55, 'M', 'Married', 1968, 4, 'Medical', 'No', 'travel_frequently', 18),
 (32, 'F', 'Single', 1991, 4, 'Unknown', 'No', 'non-travel', 29),
 (53, 'F', 'Unknown', 1970, 3, 'Marketing', 'No', 'travel_frequently', 2),
 (55, 'M', 'Single', 1968, 1, 'Unknown', 'No', 'Unknown', 2),
 (28, 'M', 'Single', 1995, 2, 'Unknown', 'Yes', 'non-travel', 24),
 (28, 'F', 'Single', 1995, 3, 'Other', 'No', 'travel_rarely', 10),
 (35, 'M', 'Unknown', 1988, 3, 'Technical Degree', 'Yes', 'Unknown', 4),
 (33, 'F', 'Single', 1990, 4, 'Medical', 'Yes', 'travel_frequently', 36),
 (25, 'M', 'Married', 1998, 1, 'Technical Degree', 'Yes', 'Unknown', 4),
 (38, 'M', 'Unknown', 1985, 4, 'Unknown', 'No', 'Unknown', 10),
 (43, 'F', 'Married', 1980, 3, 'Life Sciences', 'No', 'travel_frequently', 27),
 (40, 'M', 'Unknown', 1983, 3, 'Unknown', 'No', 'travel_rarely', 14),
 (26, 'M', 'Unknown', 1997, 4, 'Unknown', 'No', 'travel_rarely', 3),
 (35, 'M', 'Divorced', 1988, 3, 'Unknown', 'No', 'travel_rarely', 2),
 (53, 'F', 'Divorced', 1970, 2, 'Medical', 'No', 'Unknown', 7),
 (35, 'M', 'Unknown', 1988, 4, 'Life Sciences', 'No', 'Unknown', 17),
 (33, 'F', 'Unknown', 1990, 3, 'Medical', 'No', 'Unknown', 25),
 (30, 'M', 'Divorced', 1993, 4, 'Life Sciences', 'No', 'travel_rarely', 7),

In [18]:
df_Employees.shape

(1080, 9)

Crear base de datos

In [19]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE ABC_Corporation")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

MySQLCursor: CREATE DATABASE ABC_Corporation

Creacion de tablas

In [20]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='ABC_Corporation')


mycursor = cnx.cursor()
try:
    mycursor.execute("""
        CREATE TABLE Employees (
        EmployeeNumber INT PRIMARY KEY AUTO_INCREMENT,
        Age INT,
        Gender VARCHAR(100),
        MaritalStatus VARCHAR(100),
        DateBirth INT,
        Education INT,
        EducationField VARCHAR(100),
        Attrition VARCHAR(100),
        BusinessTravel VARCHAR(100),
        DistanceFromHome INT
    )
    """)
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

MySQLCursor:
        CREATE TABLE Employees (
      ..

Insercion de datos

In [21]:
cnx = mysql.connector.connect(user = 'root',
                              password = 'AlumnaAdalab',
                              host = '127.0.0.1',
                              database = 'ABC_Corporation'
                              )


mycursor = cnx.cursor()
sql = """INSERT INTO Employees (
            Age, Gender, MaritalStatus, DateBirth, Education, EducationField, Attrition, BusinessTravel, DistanceFromHome
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"""
val = [
]

try: 
    mycursor.executemany(sql, val)
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

-1 registro/s insertado/s.

### extraer en lista de tuplas Job Details

In [22]:
df_job_details = pd.read_csv('JobDetails.csv')
df_job_details.shape

(1080, 7)

In [23]:
job_details = [list(x) for x in df_job_details .to_records(index=False)]

In [24]:
# ver que coincidan los registros de las tuplas con el df
job_details

[[5, ' Research Director ', 7, 'Unknown', 20, 15, 15],
 [5, ' Manager ', 0, '34,0', 33, 11, 9],
 [5, ' Manager ', 1, '22,0', 22, 11, 15],
 [4, ' Research Director ', 3, 'Unknown', 20, 5, 6],
 [4, ' Manager ', 3, 'Unknown', 22, 4, 7],
 [3, ' Sales Executive ', 7, '28,0', 21, 7, 9],
 [2, ' Sales Executive ', 1, '20,0', 20, 11, 6],
 [5, ' Research Director ', 2, '21,0', 18, 0, 11],
 [5, ' Research Director ', 1, 'Unknown', 21, 5, 10],
 [5, ' Research Director ', 1, 'Unknown', 22, 15, 8],
 [5, ' Manager ', 0, 'Unknown', 20, 1, 12],
 [5, ' Research Director ', 7, '40,0', 31, 13, 8],
 [3, ' Healthcare Representative ', 3, '25,0', 23, 14, 4],
 [3, ' Research Director ', 1, '15,0', 15, 8, 12],
 [4, ' Manager ', 1, 'Unknown', 26, 3, 0],
 [2, ' Manufacturing Director ', 9, '18,0', 16, 5, 12],
 [2, ' Sales Executive ', 1, '15,0', 15, 0, 7],
 [3, ' Sales Executive ', 0, 'Unknown', 22, 13, 5],
 [3, ' Healthcare Representative ', 2, '25,0', 17, 12, 11],
 [5, ' Manager ', 4, '26,0', 14, 4, 8],
 [2, ' Sales Executive ', 0, '16,0', 15, 2, 8],
 [3, ' Sales Executive ', 1, '24,0', 24, 15, 7],
 [4, ' Manager ', 5, '22,0', 17, 1, 9],
 [1, ' Laboratory Technician ', 0, '16,0', 15, 10, 11],
 [3, ' Sales Executive ', 5, '20,0', 18, 1, 12],
 [2, ' Manufacturing Director ', 1, '14,0', 14, 6, 8],
 [4, ' Manager ', 6, '22,0', 17, 15, 2],
 [1, ' Laboratory Technician ', 1, '18,0', 17, 15, 14],
 [2, ' Research Scientist ', 8, 'Unknown', 16, 1, 7],
 [2, ' Sales Executive ', 0, '16,0', 15, 5, 8],
 [3, ' Healthcare Representative ', 3, '23,0', 13, 12, 8],
 [4, ' Manager ', 1, '25,0', 25, 4, 12],
 [1, ' Research Scientist ', 1, 'Unknown', 17, 5, 7],
 [2, ' Sales Executive ', 1, 'Unknown', 13, 11, 9],
 [4, ' Manager ', 8, '23,0', 13, 5, 1],
 [5, ' Manager ', 7, '21,0', 16, 6, 14],
 [2, ' Healthcare Representative ', 1, 'Unknown', 13, 1, 9],
 [2, ' Research Scientist ', 7, '17,0', 13, 1, 9],
 [2, ' Manufacturing Director ', 1, '16,0', 15, 5, 11],
 [3, ' Sales Executive ', 7, '15,0', 12, 2, 11],
 [2, ' Laboratory Technician ', 8, '16,0', 13, 3, 7],
 [2, ' Research Scientist ', 3, '15,0', 13, 10, 7],
 [2, ' Research Scientist ', 1, 'Unknown', 17, 11, 8],
 [2, ' Healthcare Representative ', 3, '15,0', 13, 4, 7],
 [4, ' Manufacturing Director ', 3, '22,0', 12, 1, 5],
 [3, ' Healthcare Representative ', 7, '27,0', 15, 4, 8],
 [4, ' Sales Executive ', 3, 'Unknown', 12, 11, 11],
 [2, ' Research Scientist ', 1, 'Unknown', 20, 13, 17],
 [2, ' Healthcare Representative ', 5, '15,0', 12, 11, 8],
 [4, ' Healthcare Representative ', 2, 'Unknown', 15, 2, 12],
 [2, ' Research Scientist ', 7, '19,0', 13, 2, 9],
 [1, ' Laboratory Technician ', 1, '14,0', 14, 2, 13],
 [2, ' Research Scientist ', 1, '20,0', 20, 0, 7],
 [3, ' Research Director ', 1, '16,0', 16, 6, 8],
 [2, ' Healthcare Representative ', 1, '11,0', 11, 10, 8],
 [4, ' Sales Executive ', 0, '38,0', 37, 1, 8],
 [3, ' Manager ', 2, '14,0', 11, 5, 8],
 [3, ' Sales Executive ', 0, 'Unknown', 16, 5, 13],
 [5, ' Manager ', 0, '37,0', 36, 4, 13],
 [2, ' Manufacturing Director ', 1, '13,0', 13, 3, 12],
 [4, ' Manager ', 0, '28,0', 27, 15, 7],
 [3, ' Manufacturing Director ', 3, 'Unknown', 13, 4, 8],
 [3, ' Healthcare Representative ', 1, 'Unknown', 16, 10, 1],
 [2, ' Sales Executive ', 1, '15,0', 15, 4, 12],
 [1, ' Research Scientist ', 0, '15,0', 14, 4, 10],
 [5, ' Manager ', 2, '26,0', 24, 1, 11],
 [1, ' Sales Representative ', 0, '12,0', 11, 5, 7],
 [4, ' Research Director ', 1, 'Unknown', 14, 6, 11],
 [2, ' Laboratory Technician ', 1, 'Unknown', 15, 4, 13],
 [1, ' Human Resources ', 5, '13,0', 11, 3, 8],
 [2, ' Research Scientist ', 1, '16,0', 15, 6, 11],
 [3, ' Sales Executive ', 1, '14,0', 14, 5, 7],
 [3, ' Manufacturing Director ', 1, '10,0', 10, 8, 8],
 [2, ' Human Resources ', 0, 'Unknown', 11, 4, 7],
 [2, ' Laboratory Technician ', 8, '20,0', 17, 0, 15],
 [3, ' Sales Executive ', 2, 'Unknown', 10, 7, 4],
 [2, ' Laboratory Technician ', 1, '12,0', 12, 6, 10],
 [2, ' Manufacturing Director ', 1, '10,0', 10, 1, 9],
 [2, ' Manufacturing Director ', 6, '13,0', 11, 5, 9],
 [3, ' Sales Executive ', 0, '12,0', 11, 6, 9],
 [4, ' Manager ', 1, '21,0', 21, 11, 10],
 [5, ' Manager ', 1, 'Unknown', 21, 13, 3],
 [2, ' Research Scientist ', 9, '12,0', 10, 9, 8],
 [2, ' Sales Executive ', 1, '10,0', 10, 1, 2],
 [3, ' Sales Executive ', 4, '16,0', 13, 1, 12],
 [3, ' Sales Executive ', 1, '10,0', 10, 9, 0],
 [4, ' Manager ', 3, '37,0', 10, 7, 7],
 [2, ' Sales Executive ', 9, '15,0', 11, 6, 9],
 [2, ' Research Scientist ', 3, '18,0', 10, 6, 9],
 [5, ' Research Director ', 1, 'Unknown', 31, 0, 9],
 [1, ' Research Scientist ', 1, 'Unknown', 10, 8, 8],
 [1, ' Research Scientist ', 1, '10,0', 10, 7, 8],
 [3, ' Research Director ', 0, 'Unknown', 13, 3, 7],
 [4, ' Research Director ', 6, '33,0', 12, 3, 8],
 [3, ' Laboratory Technician ', 4, '29,0', 26, 1, 7],
 [3, ' Sales Executive ', 6, 'Unknown', 10, 0, 8],
 [3, ' Healthcare Representative ', 0, '20,0', 19, 1, 9],
 [4, ' Manager ', 3, 'Unknown', 12, 4, 9],
 [4, ' Sales Executive ', 0, 'Unknown', 21, 13, 14],
 [2, ' Healthcare Representative ', 0, '14,0', 13, 4, 9],
 [2, ' Healthcare Representative ', 1, '10,0', 10, 1, 8],
 [5, ' Manager ', 7, '26,0', 22, 3, 10],
 [4, ' Healthcare Representative ', 1, 'Unknown', 33, 15, 0],
 [5, ' Manager ', 1, 'Unknown', 25, 14, 13],
 [4, ' Manager ', 6, 'Unknown', 19, 15, 2],
 [5, ' Manager ', 4, '23,0', 19, 9, 11],
 [4, ' Manager ', 1, 'Unknown', 33, 0, 10],
 [3, ' Manufacturing Director ', 7, 'Unknown', 10, 5, 9],
 [3, ' Human Resources ', 1, 'Unknown', 10, 0, 9],
 [2, ' Sales Executive ', 3, '15,0', 13, 3, 12],
 [1, ' Laboratory Technician ', 1, '12,0', 12, 5, 8],
 [2, ' Sales Executive ', 0, '16,0', 15, 10, 10],
 [4, ' Manager ', 3, '26,0', 14, 1, 12],
 [3, ' Sales Executive ', 1, 'Unknown', 10, 8, 6],
 [1, ' Laboratory Technician ', 1, 'Unknown', 10, 1, 5],
 [2, ' Laboratory Technician ', 1, 'Unknown', 10, 6, 8],
 [2, ' Sales Executive ', 3, '13,0', 11, 6, 7],
 [1, ' Research Scientist ', 1, '10,0', 10, 8, 7],
 [2, ' Sales Executive ', 1, '10,0', 10, 8, 8],
 [3, ' Healthcare Representative ', 1, '10,0', 10, 0, 9],
 [2, ' Research Scientist ', 1, '20,0', 20, 3, 7],
 [2, ' Laboratory Technician ', 1, '10,0', 10, 9, 4],
 [1, ' Laboratory Technician ', 8, '14,0', 10, 9, 8],
 [4, ' Sales Executive ', 0, 'Unknown', 20, 9, 6],
 [2, ' Laboratory Technician ', 1, '12,0', 12, 3, 7],
 [2, ' Manufacturing Director ', 1, '9,0', 9, 7, 8],
 [2, ' Laboratory Technician ', 1, 'Unknown', 10, 3, 0],
 [3, ' Sales Executive ', 1, '9,0', 9, 4, 7],
 [2, ' Sales Executive ', 1, '11,0', 11, 2, 7],
 [2, ' Sales Executive ', 1, '12,0', 11, 5, 7],
 [3, ' Sales Executive ', 1, '9,0', 9, 3, 7],
 [1, ' Research Scientist ', 4, 'Unknown', 9, 1, 8],
 [5, ' Manager ', 1, '21,0', 20, 9, 9],
 [4, ' Manager ', 9, '22,0', 20, 11, 8],
 [3, ' Sales Executive ', 1, '14,0', 14, 9, 8],
 [3, ' Manufacturing Director ', 1, 'Unknown', 11, 5, 8],
 [3, ' Research Director ', 1, 'Unknown', 10, 0, 7],
 [2, ' Research Scientist ', 1, 'Unknown', 9, 4, 7],
 [2, ' Sales Executive ', 1, '13,0', 13, 4, 8],
 [3, ' Research Director ', 3, 'Unknown', 10, 0, 1],
 [2, ' Research Scientist ', 1, '11,0', 10, 1, 9],
 [5, ' Manager ', 1, '21,0', 21, 1, 6],
 [5, ' Manager ', 5, '33,0', 29, 11, 10],
 [3, ' Sales Executive ', 0, '10,0', 9, 7, 8],
 [3, ' Manufacturing Director ', 1, 'Unknown', 13, 0, 8],
 [1, ' Research Scientist ', 1, 'Unknown', 10, 9, 7],
 [1, ' Laboratory Technician ', 1, '20,0', 20, 3, 8],
 [2, ' Laboratory Technician ', 1, '10,0', 10, 4, 7],
 [2, ' Manufacturing Director ', 1, '10,0', 9, 7, 8],
 [3, ' Sales Executive ', 1, 'Unknown', 9, 7, 7],
 [3, ' Research Director ', 1, 'Unknown', 9, 0, 8],
 [4, ' Manufacturing Director ', 3, '31,0', 9, 0, 0],
 [2, ' Sales Executive ', 1, '10,0', 10, 5, 3],
 [2, ' Healthcare Representative ', 0, 'Unknown', 16, 4, 11],
 [4, ' Manager ', 2, '26,0', 9, 7, 8],
 [4, ' Manager ', 1, '10,0', 10, 6, 0],
 [2, ' Laboratory Technician ', 1, '9,0', 9, 0, 8],
 [3, ' Manufacturing Director ', 0, '15,0', 14, 7, 8],
 [4, ' Sales Executive ', 6, '22,0', 9, 2, 3],
 [1, ' Laboratory Technician ', 1, 'Unknown', 10, 0, 8],
 [2, ' Manufacturing Director ', 1, '14,0', 14, 3, 11],
 [2, ' Laboratory Technician ', 0, '10,0', 9, 7, 5],
 [3, ' Sales Executive ', 1, '10,0', 10, 9, 6],
 [4, ' Manager ', 0, '21,0', 20, 2, 10],
 [2, ' Research Scientist ', 1, '9,0', 9, 8, 8],
 [2, ' Sales Executive ', 1, 'Unknown', 10, 9, 6],
 [5, ' Research Director ', 3, 'Unknown', 9, 1, 5],
 [3, ' Manufacturing Director ', 1, 'Unknown', 10, 4, 7],
 [4, ' Research Director ', 4, '35,0', 9, 8, 8],
 [4, ' Research Director ', 7, '16,0', 14, 6, 9],
 [2, ' Research Scientist ', 1, 'Unknown', 10, 3, 7],
 [3, ' Healthcare Representative ', 2, '24,0', 20, 13, 9],
 [3, ' Healthcare Representative ', 1, 'Unknown', 10, 7, 7],
 [2, ' Sales Executive ', 1, 'Unknown', 10, 6, 7],
 [2, ' Sales Executive ', 0, '10,0', 9, 7, 7],
 [4, ' Healthcare Representative ', 2, '32,0', 30, 12, 13],
 [2, ' Research Scientist ', 1, '11,0', 11, 7, 9],
 [4, ' Manager ', 3, '36,0', 10, 4, 7],
 [2, ' Laboratory Technician ', 1, 'Unknown', 9, 5, 8],
 [3, ' Healthcare Representative ', 7, '15,0', 12, 5, 7],
 [2, ' Sales Executive ', 1, '10,0', 10, 4, 8],
 [3, ' Manufacturing Director ', 3, '12,0', 9, 4, 7],
 [2, ' Sales Representative ', 1, 'Unknown', 9, 5, 8],
 [2, ' Laboratory Technician ', 1, '10,0', 10, 0, 2],
 [2, ' Manufacturing Director ', 0, '10,0', 9, 3, 8],
 [3, ' Sales Executive ', 1, '14,0', 14, 2, 1],
 [2, ' Sales Executive ', 1, '10,0', 10, 0, 9],
 [4, ' Sales Executive ', 0, '21,0', 20, 11, 10],
 [2, ' Sales Executive ', 3, 'Unknown', 11, 5, 10],
 [3, ' Research Director ', 0, '14,0', 13, 5, 12],
 [2, ' Research Scientist ', 1, '10,0', 10, 1, 7],
 [1, ' Research Scientist ', 1, 'Unknown', 8, 3, 0],
 [2, ' Sales Executive ', 0, '10,0', 9, 4, 2],
 [2, ' Laboratory Technician ', 3, 'Unknown', 7, 1, 7],
 [2, ' Manufacturing Director ', 1, '11,0', 11, 1, 8],
 [2, ' Sales Executive ', 0, '11,0', 10, 1, 0],
 [2, ' Laboratory Technician ', 1, '9,0', 9, 0, 6],
 [3, ' Sales Executive ', 0, '10,0', 9, 2, 8],
 [1, ' Research Scientist ', 1, 'Unknown', 10, 0, 9],
 [2, ' Sales Executive ', 0, 'Unknown', 7, 0, 7],
 [2, ' Sales Executive ', 4, 'Unknown', 7, 7, 7],
 [3, ' Sales Executive ', 3, 'Unknown', 9, 0, 7],
 [1, ' Human Resources ', 1, '8,0', 8, 5, 7],
 [2, ' Sales Executive ', 0, 'Unknown', 8, 0, 7],
 [2, ' Research Scientist ', 1, '20,0', 20, 2, 13],
 [2, ' Sales Representative ', 2, '13,0', 7, 4, 5],
 [1, ' Research Scientist ', 1, '8,0', 8, 1, 6],
 [4, ' Healthcare Representative ', 3, 'Unknown', 7, 1, 0],
 [1, ' Research Scientist ', 1, 'Unknown', 7, 0, 3],
 [1, ' Research Scientist ', 1, 'Unknown', 8, 1, 7],
 [2, ' Manufacturing Director ', 1, '7,0', 7, 1, 7],
 [2, ' Sales Executive ', 1, '7,0', 7, 0, 7],
 [3, ' Sales Executive ', 6, '23,0', 19, 12, 8],
 [3, ' Sales Executive ', 1, '10,0', 10, 0, 8],
 [5, ' Manager ', 1, '33,0', 33, 15, 12],
 [2, ' Sales Executive ', 3, '13,0', 8, 7, 5],
 [4, ' Manager ', 3, '28,0', 7, 7, 7],
 [3, ' Manager ', 1, 'Unknown', 10, 9, 9],
 [3, ' Manager ', 7, '10,0', 7, 6, 2],
 [2, ' Sales Executive ', 1, 'Unknown', 10, 0, 9],
 [2, ' Laboratory Technician ', 3, '12,0', 10, 0, 8],
 [2, ' Sales Executive ', 1, 'Unknown', 8, 7, 4],
 [2, ' Sales Executive ', 4, '10,0', 8, 7, 7],
 [1, ' Laboratory Technician ', 0, 'Unknown', 8, 1, 7],
 [2, ' Sales Executive ', 4, '13,0', 7, 1, 7],
 [2, ' Sales Executive ', 3, 'Unknown', 7, 0, 1],
 [2, ' Laboratory Technician ', 1, '9,0', 9, 0, 0],
 [1, ' Laboratory Technician ', 1, '7,0', 7, 0, 7],
 [2, ' Sales Executive ', 1, '8,0', 8, 0, 7],
 [2, ' Sales Executive ', 1, 'Unknown', 8, 7, 7],
 [1, ' Laboratory Technician ', 3, 'Unknown', 7, 1, 7],
 [2, ' Sales Executive ', 1, '8,0', 8, 7, 7],
 [2, ' Sales Executive ', 4, '18,0', 7, 0, 7],
 [3, ' Sales Executive ', 1, '10,0', 10, 0, 7],
 [3, ' Healthcare Representative ', 4, '10,0', 8, 0, 0],
 [2, ' Sales Executive ', 2, '14,0', 9, 6, 7],
 [1, ' Human Resources ', 0, '8,0', 7, 1, 0],
 [2, ' Healthcare Representative ', 2, '10,0', 8, 0, 7],
 [2, ' Sales Executive ', 1, '10,0', 10, 5, 7],
 [2, ' Sales Executive ', 4, '13,0', 7, 5, 7],
 [2, ' Laboratory Technician ', 3, '10,0', 8, 4, 7],
 [2, ' Sales Executive ', 7, '18,0', 14, 8, 10],
 [1, ' Research Scientist ', 1, '10,0', 10, 2, 8],
 [3, ' Healthcare Representative ', 1, '9,0', 8, 7, 7],
 [2, ' Healthcare Representative ', 1, '20,0', 20, 11, 10],
 [2, ' Sales Executive ', 1, '10,0', 10, 0, 8],
 [2, ' Healthcare Representative ', 0, '10,0', 9, 1, 8],
 [3, ' Manufacturing Director ', 1, '9,0', 9, 0, 7],
 [2, ' Sales Executive ', 2, '20,0', 7, 1, 7],
 [3, ' Manufacturing Director ', 1, '9,0', 9, 1, 7],
 [5, ' Manager ', 1, '22,0', 22, 2, 10],
 [3, ' Research Director ', 9, '10,0', 8, 0, 5],
 [2, ' Sales Executive ', 7, '10,0', 8, 7, 7],
 [4, ' Healthcare Representative ', 7, '30,0', 10, 1, 1],
 [2, ' Sales Representative ', 0, '9,0', 8, 3, 1],
 [3, ' Sales Executive ', 1, '10,0', 10, 0, 9],
 [2, ' Healthcare Representative ', 4, '11,0', 8, 1, 1],
 [2, ' Manufacturing Director ', 6, '17,0', 15, 4, 12],
 [5, ' Manager ', 1, '24,0', 24, 14, 9],
 [2, ' Manufacturing Director ', 0, 'Unknown', 9, 0, 5],
 [2, ' Sales Executive ', 4, 'Unknown', 9, 7, 3],
 [1, ' Research Scientist ', 1, '8,0', 8, 7, 1],
 [1, ' Laboratory Technician ', 4, 'Unknown', 7, 1, 0],
 [1, ' Sales Representative ', 3, 'Unknown', 7, 5, 2],
 [2, ' Sales Executive ', 1, 'Unknown', 7, 0, 7],
 [2, ' Manufacturing Director ', 1, '8,0', 8, 6, 3],
 [3, ' Sales Executive ', 1, 'Unknown', 16, 3, 7],
 [2, ' Laboratory Technician ', 1, 'Unknown', 9, 0, 8],
 [2, ' Sales Executive ', 4, '12,0', 7, 0, 7],
 [3, ' Manufacturing Director ', 8, '22,0', 10, 0, 8],
 [3, ' Research Director ', 0, 'Unknown', 8, 1, 7],
 [2, ' Manufacturing Director ', 1, 'Unknown', 8, 1, 3],
 [2, ' Healthcare Representative ', 3, 'Unknown', 8, 6, 7],
 [1, ' Laboratory Technician ', 9, '10,0', 8, 7, 7],
 [3, ' Sales Executive ', 2, '30,0', 15, 6, 12],
 [4, ' Manager ', 7, 'Unknown', 9, 6, 2],
 [3, ' Healthcare Representative ', 1, '10,0', 10, 1, 9],
 [2, ' Research Scientist ', 3, 'Unknown', 8, 1, 7],
 [3, ' Sales Executive ', 0, '9,0', 8, 4, 7],
 [2, ' Research Scientist ', 1, '14,0', 13, 3, 8],
 [1, ' Laboratory Technician ', 1, '7,0', 7, 5, 6],
 [3, ' Sales Executive ', 0, '9,0', 8, 2, 7],
 [3, ' Manufacturing Director ', 8, '18,0', 8, 0, 1],
 [5, ' Research Director ', 1, 'Unknown', 20, 4, 9],
 [1, ' Laboratory Technician ', 1, '8,0', 8, 0, 7],
 [3, ' Manufacturing Director ', 2, '15,0', 7, 6, 4],
 [5, ' Manager ', 3, '26,0', 7, 4, 7],
 [2, ' Sales Executive ', 3, '15,0', 7, 1, 7],
 [2, ' Sales Executive ', 1, 'Unknown', 10, 0, 1],
 [2, ' Laboratory Technician ', 1, 'Unknown', 10, 8, 9],
 [2, ' Research Scientist ', 4, '10,0', 8, 0, 7],
 [3, ' Manufacturing Director ', 2, '17,0', 7, 7, 7],
 [5, ' Research Director ', 3, 'Unknown', 8, 0, 7],
 [4, ' Research Director ', 3, '9,0', 7, 1, 7],
 [3, ' Manufacturing Director ', 6, 'Unknown', 9, 5, 4],
 [3, ' Sales Executive ', 3, '23,0', 21, 15, 17],
 [3, ' Healthcare Representative ', 1, 'Unknown', 10, 0, 5],
 [2, ' Manufacturing Director ', 0, 'Unknown', 8, 1, 7],
 [3, ' Healthcare Representative ', 0, '10,0', 9, 1, 6],
 [2, ' Sales Executive ', 3, '11,0', 7, 1, 7],
 [2, ' Sales Executive ', 2, 'Unknown', 15, 6, 13],
 [2, ' Laboratory Technician ', 0, '10,0', 9, 0, 0],
 [2, ' Laboratory Technician ', 4, '10,0', 8, 7, 7],
 [2, ' Research Scientist ', 1, '20,0', 20, 1, 8],
 [4, ' Manager ', 0, '21,0', 20, 0, 9],
 [1, ' Laboratory Technician ', 0, '8,0', 7, 0, 7],
 [3, ' Healthcare Representative ', 0, 'Unknown', 8, 7, 7],
 [4, ' Research Director ', 6, '29,0', 20, 12, 7],
 [4, ' Research Director ', 2, '31,0', 7, 0, 0],
 [3, ' Sales Executive ', 4, '28,0', 7, 4, 3],
 [3, ' Healthcare Representative ', 2, 'Unknown', 7, 0, 7],
 [3, ' Healthcare Representative ', 3, '29,0', 8, 0, 7],
 [2, ' Sales Executive ', 1, '10,0', 10, 0, 4],
 [1, ' Research Scientist ', 6, 'Unknown', 9, 0, 7],
 [2, ' Healthcare Representative ', 3, '9,0', 7, 0, 7],
 [3, ' Manufacturing Director ', 0, 'Unknown', 33, 1, 9],
 [5, ' Research Director ', 0, 'Unknown', 22, 1, 10],
 [2, ' Laboratory Technician ', 1, '10,0', 10, 1, 4],
 [2, ' Sales Executive ', 1, '10,0', 10, 4, 5],
 [2, ' Manufacturing Director ', 1, '9,0', 9, 7, 2],
 [1, ' Laboratory Technician ', 1, '7,0', 7, 0, 7],
 [2, ' Manufacturing Director ', 1, '10,0', 10, 3, 9],
 [2, ' Human Resources ', 4, '14,0', 10, 0, 2],
 [2, ' Manufacturing Director ', 1, '7,0', 7, 0, 7],
 [1, ' Sales Representative ', 2, '19,0', 9, 7, 7],
 [1, ' Laboratory Technician ', 1, '7,0', 7, 5, 7],
 [3, ' Healthcare Representative ', 1, 'Unknown', 8, 6, 7],
 [2, ' Healthcare Representative ', 6, '19,0', 10, 0, 9],
 [2, ' Manufacturing Director ', 2, '17,0', 7, 0, 7],
 [1, ' Research Scientist ', 0, '10,0', 9, 0, 7],
 [3, ' Sales Executive ', 2, 'Unknown', 7, 1, 7],
 [2, ' Sales Executive ', 8, '13,0', 11, 1, 7],
 [1, ' Research Scientist ', 2, '12,0', 7, 0, 7],
 [1, ' Human Resources ', 0, 'Unknown', 9, 1, 8],
 [2, ' Sales Executive ', 1, 'Unknown', 10, 7, 7],
 [2, ' Manufacturing Director ', 2, '15,0', 7, 1, 7],
 [3, ' Manufacturing Director ', 9, '9,0', 7, 0, 2],
 [2, ' Healthcare Representative ', 4, '13,0', 9, 3, 7],
 [2, ' Sales Executive ', 1, '7,0', 7, 7, 7],
 [3, ' Sales Executive ', 5, '14,0', 8, 0, 7],
 [2, ' Sales Executive ', 0, '9,0', 8, 0, 7],
 [3, ' Research Director ', 9, '18,0', 13, 5, 7],
 [2, ' Sales Executive ', 1, '7,0', 7, 0, 7],
 [2, ' Research Scientist ', 8, 'Unknown', 8, 1, 7],
 [3, ' Sales Executive ', 1, '9,0', 8, 1, 1],
 [1, ' Laboratory Technician ', 0, '8,0', 7, 7, 6],
 [2, ' Sales Executive ', 1, 'Unknown', 7, 0, 7],
 [2, ' Sales Executive ', 1, '10,0', 10, 0, 8],
 [3, ' Research Director ', 4, '13,0', 11, 4, 8],
 [2, ' Research Scientist ', 1, '10,0', 10, 0, 8],
 [2, ' Healthcare Representative ', 0, 'Unknown', 9, 8, 1],
 [2, ' Research Scientist ', 7, 'Unknown', 7, 1, 7],
 [4, ' Manufacturing Director ', 0, '21,0', 20, 0, 10],
 [2, ' Sales Executive ', 1, '8,0', 8, 1, 7],
 [3, ' Healthcare Representative ', 4, 'Unknown', 7, 1, 7],
 [3, ' Research Director ', 0, 'Unknown', 12, 2, 11],
 [2, ' Sales Executive ', 4, '14,0', 9, 0, 8],
 [4, ' Manager ', 4, 'Unknown', 7, 7, 7],
 [3, ' Healthcare Representative ', 0, '20,0', 19, 11, 8],
 [1, ' Laboratory Technician ', 0, '10,0', 9, 7, 8],
 [3, ' Manager ', 6, '12,0', 10, 8, 8],
 [3, ' Manufacturing Director ', 0, '17,0', 16, 0, 13],
 [5, ' Manager ', 3, '23,0', 21, 12, 6],
 [2, ' Healthcare Representative ', 8, 'Unknown', 7, 0, 7],
 [4, ' Manager ', 2, 'Unknown', 20, 4, 17],
 [2, ' Sales Executive ', 0, '8,0', 7, 7, 7],
 [4, ' Manager ', 1, '31,0', 31, 14, 7],
 [2, ' Healthcare Representative ', 1, '10,0', 10, 0, 7],
 [4, ' Manufacturing Director ', 1, 'Unknown', 21, 11, 8],
 [1, ' Research Scientist ', 1, 'Unknown', 10, 0, 8],
 [4, ' Manager ', 0, '23,0', 22, 13, 7],
 [3, ' Healthcare Representative ', 7, '18,0', 8, 4, 0],
 [1, ' Human Resources ', 1, '7,0', 7, 5, 0],
 [2, ' Research Scientist ', 1, 'Unknown', 9, 1, 1],
 [2, ' Manufacturing Director ', 1, '8,0', 8, 1, 7],
 [4, ' Research Director ', 3, 'Unknown', 20, 14, 17],
 [4, ' Research Director ', 1, 'Unknown', 32, 13, 9],
 [3, ' Sales Executive ', 2, '11,0', 7, 7, 6],
 [1, ' Laboratory Technician ', 1, '10,0', 9, 1, 4],
 [4, ' Research Director ', 1, '21,0', 21, 8, 6],
 [1, ' Research Scientist ', 0, 'Unknown', 7, 7, 3],
 [5, ' Manager ', 5, '24,0', 22, 4, 14],
 [2, ' Sales Executive ', 2, '17,0', 9, 0, 8],
 [2, ' Laboratory Technician ', 0, '10,0', 9, 0, 8],
 [2, ' Sales Executive ', 0, 'Unknown', 9, 8, 7],
 [2, ' Manufacturing Director ', 1, '6,0', 6, 0, 3],
 [1, ' Research Scientist ', 1, '6,0', 6, 1, 5],
 [2, ' Manufacturing Director ', 1, '6,0', 6, 1, 4],
 [2, ' Sales Executive ', 1, 'Unknown', 7, 0, 7],
 [2, ' Healthcare Representative ', 0, '7,0', 6, 0, 4],
 [2, ' Sales Executive ', 4, '10,0', 6, 0, 5],

In [25]:
tuplas_job_details

NameError: name 'tuplas_job_details' is not defined

### Crear tabla JobDetails

In [26]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='ABC_Corporation')


mycursor = cnx.cursor()
try:
    mycursor.execute("""
        CREATE TABLE JobDetails (
        JobDetailID INT PRIMARY KEY AUTO_INCREMENT,
        JobRole VARCHAR(100),
        JobLevel INT,
        NumCompaniesWorked INT,
        TotalWorkingYears VARCHAR(100),
        YearsAtCompany INT,
        YearsSinceLastPromotion INT,
        YearsWithCurrManager INT,
        EmployeeNumber INT,
        FOREIGN KEY (EmployeeNumber) REFERENCES Employees(EmployeeNumber)
    )
    """)
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

MySQLCursor:
        CREATE TABLE JobDetails (
     ..

### Crear tabla Compensation

In [27]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='ABC_Corporation')


mycursor = cnx.cursor()
try:
    mycursor.execute("""
        CREATE TABLE Compensation (
        CompensationID INT PRIMARY KEY AUTO_INCREMENT,
        EmployeeNumber INT,
        DailyRate INT,
        HourlyRate INT,
        MonthlyIncome INT,
        MonthlyRate INT,
        StockOptionLevel INT,
        PercentSalaryHike INT,
        OverTime VARCHAR(100),
        TrainingTimesLastYear INT,
        RemoteWork VARCHAR(100),
        FOREIGN KEY (EmployeeNumber) REFERENCES Employees(EmployeeNumber)
    )
    """)
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

MySQLCursor:
        CREATE TABLE Compensation (
   ..

### Creacion tabla Satisfaction

In [28]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='ABC_Corporation')


mycursor = cnx.cursor()
try:
    mycursor.execute("""
        CREATE TABLE Satisfaction (
        SatisfactionID INT PRIMARY KEY AUTO_INCREMENT,
        EmployeeNumber INT,
        EnvironmentSatisfaction INT,
        JobInvolvement INT,
        JobSatisfaction INT,
        RelationshipSatisfaction INT,
        WorkLifeBalance INT,
        PerformanceRating VARCHAR(100),
        FOREIGN KEY (EmployeeNumber) REFERENCES Employees(EmployeeNumber)
    )
    """)
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

MySQLCursor:
        CREATE TABLE Satisfaction (
   ..